In [1]:
import pandas as pd
sess = pd.read_csv("Clustered_Session.csv")

In [3]:
sess

,CLNT_ID,SESS_ID,SESS_SEQ,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ACTION,CLUSTER
0,5873599,8641867,9,82.0,1890,mobile,"buy,search",4
1,5873599,6616320,21,105.0,1604,mobile,"buy,search",4
2,5873599,5886172,40,41.0,632,mobile,"buy,search",0
3,5873884,1050889,15,160.0,1035,mobile,"buy,search",3
4,5874461,10298270,5,13.0,298,mobile,buy,0
...,...,...,...,...,...,...,...,...
2698691,3500464,8713975,308,71.0,423,mobile,buy,0
2698692,3501155,4636571,86,44.0,2090,desktop,"buy,search",4
2698693,3501397,582632,128,164.0,2435,mobile,buy,4
2698694,3573271,2328407,9,5.0,986,desktop,buy,3
2698695,3573758,8702345,17,18.0,373,desktop,buy,0

In [2]:
cus = pd.read_csv("04.Custom.csv")
cus

        CLNT_ID CLNT_GENDER  CLNT_AGE
0       4830726           F        30
1       4830874           F        40
2       4830975           F        30
3       4831275           F        30
4       4825325           F        30
...         ...         ...       ...
671674  3725302           F        40
671675  3725462           M        40
671676  3725818           F        30
671677  3661812           F        30
671678  3661917           M        40

[671679 rows x 3 columns]

In [3]:
data = pd.merge(sess, cus, left_on='CLNT_ID', right_on='CLNT_ID', how='left')
data.shape
data

,CLNT_ID,SESS_ID,SESS_SEQ,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ACTION,CLUSTER,CLNT_GENDER,CLNT_AGE
0,5873599,8641867,9,82.0,1890,mobile,"buy,search",4,F,20.0
1,5873599,6616320,21,105.0,1604,mobile,"buy,search",4,F,20.0
2,5873599,5886172,40,41.0,632,mobile,"buy,search",0,F,20.0
3,5873884,1050889,15,160.0,1035,mobile,"buy,search",3,F,30.0
4,5874461,10298270,5,13.0,298,mobile,buy,0,F,20.0
...,...,...,...,...,...,...,...,...,...,...
2698691,3500464,8713975,308,71.0,423,mobile,buy,0,M,20.0
2698692,3501155,4636571,86,44.0,2090,desktop,"buy,search",4,NaN,NaN
2698693,3501397,582632,128,164.0,2435,mobile,buy,4,F,30.0
2698694,3573271,2328407,9,5.0,986,desktop,buy,3,NaN,NaN
2698695,3573758,8702345,17,18.0,373,desktop,buy,0,NaN,NaN

In [4]:
data = data.dropna()
data

,CLNT_ID,SESS_ID,SESS_SEQ,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ACTION,CLUSTER,CLNT_GENDER,CLNT_AGE
0,5873599,8641867,9,82.0,1890,mobile,"buy,search",4,F,20.0
1,5873599,6616320,21,105.0,1604,mobile,"buy,search",4,F,20.0
2,5873599,5886172,40,41.0,632,mobile,"buy,search",0,F,20.0
3,5873884,1050889,15,160.0,1035,mobile,"buy,search",3,F,30.0
4,5874461,10298270,5,13.0,298,mobile,buy,0,F,20.0
...,...,...,...,...,...,...,...,...,...,...
2698687,3492307,2983998,25,29.0,419,mobile,"buy,search",0,M,30.0
2698689,3490918,1573185,16,50.0,1546,mobile,buy,4,F,20.0
2698690,3494680,9458833,488,29.0,237,mobile,buy,0,F,30.0
2698691,3500464,8713975,308,71.0,423,mobile,buy,0,M,20.0
2698693,3501397,582632,128,164.0,2435,mobile,buy,4,F,30.0

In [5]:
data2 = data.drop(['CLNT_ID','SESS_ID','SESS_SEQ','CLUSTER'], axis=1)
data2

,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ACTION,CLNT_GENDER,CLNT_AGE
0,82.0,1890,mobile,"buy,search",F,20.0
1,105.0,1604,mobile,"buy,search",F,20.0
2,41.0,632,mobile,"buy,search",F,20.0
3,160.0,1035,mobile,"buy,search",F,30.0
4,13.0,298,mobile,buy,F,20.0
...,...,...,...,...,...,...
2698687,29.0,419,mobile,"buy,search",M,30.0
2698689,50.0,1546,mobile,buy,F,20.0
2698690,29.0,237,mobile,buy,F,30.0
2698691,71.0,423,mobile,buy,M,20.0
2698693,164.0,2435,mobile,buy,F,30.0

## 범주형 데이터 숫자로

In [6]:
from sklearn.preprocessing import LabelEncoder
##
encode = data2

encode_DVC = LabelEncoder()
encode_DVC.fit(data2['DVC_CTG_NM'])

encode['DVC_CTG_NM'] = encode_DVC.transform(data2['DVC_CTG_NM'])

encode_ACT = LabelEncoder()
encode_ACT.fit(data2['CLNT_GENDER'])

encode['CLNT_GENDER'] = encode_ACT.transform(data2['CLNT_GENDER'])
##
encode_ACT = LabelEncoder()
encode_ACT.fit(data2['ACTION'])

encode['ACTION'] = encode_ACT.transform(data2['ACTION'])

encode.tail()

,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ACTION,CLNT_GENDER,CLNT_AGE
2698687,29.0,419,1,1,1,30.0
2698689,50.0,1546,1,0,0,20.0
2698690,29.0,237,1,0,0,30.0
2698691,71.0,423,1,0,1,20.0
2698693,164.0,2435,1,0,0,30.0

female = 0, male=1

In [9]:
cols = ['DVC_CTG_NM','CLNT_GENDER','CLNT_AGE']
data = encode[cols]
data.head()

   DVC_CTG_NM  CLNT_GENDER  CLNT_AGE
0           1            0      20.0
1           1            0      20.0
2           1            0      20.0
3           1            0      30.0
4           1            0      20.0

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, 
                                encode[['ACTION']], test_size=0.1, random_state=13)

In [11]:
X_train = X_train.reset_index()
X_train = X_train.drop(['index'], axis=1)
X_test = X_test.reset_index()
X_test = X_test.drop(['index'], axis=1)

y_train = y_train.reset_index()
y_train = y_train.drop(['index'], axis=1)

y_test = y_test.reset_index()
y_test = y_test.drop(['index'], axis=1)

In [14]:
from sklearn.tree import DecisionTreeClassifier
tree_clf = DecisionTreeClassifier(max_depth=4, random_state=13)
tree_clf.fit(X_train, y_train)
print('Score: {}'.format(tree_clf.score(X_train, y_train)))

Score: 0.5172077764532326

In [15]:
from sklearn.tree import export_graphviz

export_graphviz(
        tree_clf,
        out_file="LPoint.dot",
        feature_names=['DVC_CTG_NM','CLNT_GENDER','CLNT_AGE'],
        class_names=['buy,search','buy'],
        rounded=True,
        filled=True
    )

import graphviz

with open("LPoint.dot") as f:
    dot_graph = f.read()
dot = graphviz.Source(dot_graph)
dot.format = 'png'
dot.render(filename='purchase_tree', directory='./', cleanup=True)
dot

In [2]:
import pandas as pd

### 클러스터별 구매재품군 보기

In [1]:
import pandas as pd
data = pd.read_csv("Clustered_Session.csv")
prod = pd.read_csv("01.Pruduct.csv")

C:\Users\User\anaconda3.7\envs\chaelin_virtenv\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
print(data.head())
print(prod.head())

   CLNT_ID   SESS_ID  SESS_SEQ  TOT_PAG_VIEW_CT  TOT_SESS_HR_V DVC_CTG_NM  \
0  5873599   8641867         9             82.0           1890     mobile
1  5873599   6616320        21            105.0           1604     mobile
2  5873599   5886172        40             41.0            632     mobile
3  5873884   1050889        15            160.0           1035     mobile
4  5874461  10298270         5             13.0            298     mobile

       ACTION  CLUSTER
0  buy,search        4
1  buy,search        4
2  buy,search        0
3  buy,search        3
4         buy        0
   CLNT_ID   SESS_ID  HITS_SEQ    PD_C                         PD_ADD_NM  \
0  4139680   7605037        12  642112                           색상:워터멜론
1  4140076  10189797        13  570603  색상:BLK0_(BLK0)BLACK|사이즈:120 / 2개
2  4142395   6158159        85  179538                         (not set)
3  4144914   7935714        12  554336      색상:블랙|사이즈:160cm(12~13세) / 1개
4  4144917   6406509        78  190306                                5개

  PD_BRA_NM PD_BUY_AM PD_BUY_CT
0   [바비브라운]    39,000         1
1       데상트    39,000         2
2     [아베다]    39,000         1
3   아디다스 키즈    39,000         1
4      데코르테    39,000         5

In [7]:
buydata = data.drop(['CLNT_ID','SESS_SEQ','TOT_PAG_VIEW_CT','TOT_SESS_HR_V','DVC_CTG_NM','CLUSTER'],axis=1)

In [8]:
buydata
#buydata.to_csv("ACTIONONLY.csv")

          SESS_ID      ACTION
0         8641867  buy,search
1         6616320  buy,search
2         5886172  buy,search
3         1050889  buy,search
4        10298270         buy
...           ...         ...
2698691   8713975         buy
2698692   4636571  buy,search
2698693    582632         buy
2698694   2328407         buy
2698695   8702345         buy

[2698696 rows x 2 columns]

In [2]:
product = prod.drop(['CLNT_ID','HITS_SEQ'],axis = 1)
product

,SESS_ID,PD_C,PD_ADD_NM,PD_BRA_NM,PD_BUY_AM,PD_BUY_CT
0,7605037,642112,색상:워터멜론,[바비브라운],"39,000",1
1,10189797,570603,색상:BLK0_(BLK0)BLACK|사이즈:120 / 2개,데상트,"39,000",2
2,6158159,179538,(not set),[아베다],"39,000",1
3,7935714,554336,색상:블랙|사이즈:160cm(12~13세) / 1개,아디다스 키즈,"39,000",1
4,6406509,190306,5개,데코르테,"39,000",5
...,...,...,...,...,...,...
5024901,10042817,527736,코드:s_kk_1205030|사이즈:BLACK 90 / 1개,아디다스(의류),"39,000",1
5024902,7272433,284643,색상:(42)블루|사이즈:55 / 1개,제이제이 지고트,"39,000",1
5024903,7946785,284643,색상:(60)아이보리|사이즈:55 / 1개,제이제이 지고트,"39,000",1
5024904,5355187,840639,사이즈:Medium / 1개,배럴,"39,000",1
5024905,8930953,442584,색상:1.블랙/사이즈:M,[언더아머(스포츠)],"39,000",1

In [ ]:
### 한번에 많이 사는 제품 보기

In [10]:
df = pd.merge(buydata, product, left_on='SESS_ID', right_on='SESS_ID', how='left')

In [11]:
print(df.isnull().sum())

SESS_ID      0
ACTION       0
PD_C         0
PD_ADD_NM    0
PD_BRA_NM    0
PD_BUY_AM    0
PD_BUY_CT    0
dtype: int64

In [12]:
df

,SESS_ID,ACTION,PD_C,PD_ADD_NM,PD_BRA_NM,PD_BUY_AM,PD_BUY_CT
0,8641867,"buy,search",370753,색상:선택(04) 기본체크 4번 세트 / 1개,닥스(손수건),"20,000",1
1,8641867,"buy,search",370753,색상:선택(09) 81번 세트 / 1개,닥스(손수건),"20,000",1
2,8641867,"buy,search",370753,색상:선택(10) 82번 세트 / 1개,닥스(손수건),"20,000",1
3,6616320,"buy,search",659005,색상:2호 / 1개,조르지오 아르마니,"89,000",1
4,5886172,"buy,search",809194,색상:리질리언트 루즈 / 1개,맥,"34,000",1
...,...,...,...,...,...,...,...
6157812,582632,buy,24629,색상:블랙|사이즈:FF / 1개,매그제이(MAGJAY),"99,000",1
6157813,582632,buy,50660,색상:베이지|사이즈:FF / 1개,매그제이(MAGJAY),"22,000",1
6157814,2328407,buy,202446,색상:블랙,[라코스테],"99,000",1
6157815,8702345,buy,384335,색상:화이트/사이즈:100,[헨리코튼],"45,000",1
6157816,8702345,buy,383299,색상:와인/사이즈:100,[헨리코튼],"83,400",1

In [13]:
df= df.drop(['PD_BUY_AM','PD_BUY_CT'],axis=1)
df[:3]

   SESS_ID      ACTION    PD_C                  PD_ADD_NM PD_BRA_NM
0  8641867  buy,search  370753  색상:선택(04) 기본체크 4번 세트 / 1개   닥스(손수건)
1  8641867  buy,search  370753      색상:선택(09) 81번 세트 / 1개   닥스(손수건)
2  8641867  buy,search  370753      색상:선택(10) 82번 세트 / 1개   닥스(손수건)

In [13]:
mast = pd.read_csv("06.Master.csv")

한 ID 에 중복되거나 다른상품을 사는경우가 있는데 이는 무시하기로 함,, 어차피 지금은 행동별 제품군을 체크하기 위함이니까..!

In [15]:
data = pd.merge(mast, df, left_on='PD_C', right_on='PD_C', how='left')
data.shape

(6158109, 9)

In [16]:
data.head()

,PD_C,PD_NM,CLAC1_NM,CLAC2_NM,CLAC3_NM,SESS_ID,ACTION,PD_ADD_NM,PD_BRA_NM
0,64382,언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95],스포츠패션,남성일반스포츠의류,남성스포츠티셔츠,2330751.0,"buy,search",색상:블랙|사이즈:MD[95] / 1개,언더아머(스포츠)
1,64382,언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95],스포츠패션,남성일반스포츠의류,남성스포츠티셔츠,2330751.0,"buy,search",색상:블랙|사이즈:MD[95] / 1개,언더아머(스포츠)
2,64382,언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95],스포츠패션,남성일반스포츠의류,남성스포츠티셔츠,2330751.0,"buy,search",색상:블랙|사이즈:MD[95] / 1개,언더아머(스포츠)
3,64382,언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95],스포츠패션,남성일반스포츠의류,남성스포츠티셔츠,2330751.0,"buy,search",색상:블랙|사이즈:MD[95] / 1개,언더아머(스포츠)
4,64382,언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95],스포츠패션,남성일반스포츠의류,남성스포츠티셔츠,2659813.0,"buy,search",색상:블랙|사이즈:MD[95] / 1개,언더아머(스포츠)

In [18]:
ddata = data.drop(['CLAC2_NM','SESS'], axis=1)
ddata[:3]

,PD_C,PD_NM,CLAC1_NM,CLAC3_NM,ACTION,PD_ADD_NM,PD_BRA_NM
0,64382,언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95],스포츠패션,남성스포츠티셔츠,"buy,search",색상:블랙|사이즈:MD[95] / 1개,언더아머(스포츠)
1,64382,언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95],스포츠패션,남성스포츠티셔츠,"buy,search",색상:블랙|사이즈:MD[95] / 1개,언더아머(스포츠)
2,64382,언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95],스포츠패션,남성스포츠티셔츠,"buy,search",색상:블랙|사이즈:MD[95] / 1개,언더아머(스포츠)

In [ ]:
#data.to_csv("ActionByProduct.csv")

## 각각 단순구매와 검색구매를 나누어 순위를 확인할것이다!

In [2]:
#data.head()

    PD_C CLAC1_NM   CLAC2_NM  CLAC3_NM      ACTION  PD_BRA_NM PD_BUY_CT
0  64382    스포츠패션  남성일반스포츠의류  남성스포츠티셔츠         buy  언더아머(스포츠)         1
1  64382    스포츠패션  남성일반스포츠의류  남성스포츠티셔츠  buy,search  언더아머(스포츠)         1
2  64382    스포츠패션  남성일반스포츠의류  남성스포츠티셔츠  buy,search  언더아머(스포츠)         1
3  64382    스포츠패션  남성일반스포츠의류  남성스포츠티셔츠  buy,search  언더아머(스포츠)         1
4  64382    스포츠패션  남성일반스포츠의류  남성스포츠티셔츠  buy,search  언더아머(스포츠)         1

In [19]:
buy_filter = ddata['ACTION']=='buy'
print(ddata[buy_filter])

buysearch_filter = ddata['ACTION']=='buy,search'
print(ddata[buysearch_filter])

           PD_C                                              PD_NM   CLAC1_NM  \
6         62282                         여자 플라워덧신 2족선물세트 17403-2set  속옷/양말/홈웨어
8         61537            닥터마틴 아드리안 블랙, 체리레드 - 02_체리레드 / 250mm(6)       패션잡화
11        58820  여성 그레이 스트라이프 퍼프 소매 블라우스 (128865YQ33) - 회색(앤틱실버...       남성의류
12        58820  여성 그레이 스트라이프 퍼프 소매 블라우스 (128865YQ33) - 회색(앤틱실버...       남성의류
13        58820  여성 그레이 스트라이프 퍼프 소매 블라우스 (128865YQ33) - 회색(앤틱실버...       남성의류
...         ...                                                ...        ...
6158097  410356       별 패턴 실크 스카프 ATSC8E100 - P2(핑크) / 5X84(가로X세로)       패션잡화
6158098  409376  팝바니 키즈 하트 스트라이프 클래식 티셔츠 화이트 - 팝바니키즈하트스트클래식티셔츠/...      유아동의류
6158102  400721  [피핀] 클레르 박스 롱티셔츠 103764 - ivory / FREE ◈85564075◈       여성의류
6158104  400197                  섀르반 올인원 수영복 (K14D5DM231) - BL/110      시즌스포츠
6158108  306289                클라이마쿨 쇼츠 [CX3564] - CX3564(그레이) / M      스포츠패션

          CLAC3_NM ACTION                              PD_ADD_NM  PD_BRA_NM
6           여성일반양말    buy                                     4개   안스엉클(양말)
8             남성부츠    buy              제품:01_블랙/사이즈(UK):270mm(8)     [닥터마틴]
11          남성남방셔츠    buy                색상:회색(앤틱실버)|Size:M / 1개      에잇세컨즈
12          남성남방셔츠    buy                색상:회색(앤틱실버)|Size:M / 1개      에잇세컨즈
13          남성남방셔츠    buy                색상:회색(앤틱실버)|Size:M / 1개      에잇세컨즈
...            ...    ...                                    ...        ...
6158097        스카프    buy             색상:N2(네이비)/사이즈:5X84(가로X세로)      [앳코너]
6158098    여아티셔츠/탑    buy  상품명/색상_사이즈:팝바니키즈하트스트클래식티셔츠/화이트9T / 1개     팬콧(키즈)
6158102    여성티셔츠/탑    buy       색상:blue|사이즈:FREE ◈85564076◈ / 1개         피핀
6158104      아동수영복    buy                     색상/사이즈:PK/120 / 1개        섀르반
6158108  남성일반스포츠바지    buy              색상:CX3564(그레이)|사이즈:L / 1개  아디다스 오리지날

[2604535 rows x 7 columns]
           PD_C                                             PD_NM CLAC1_NM  \
0         64382  언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95]    스포츠패션
1         64382  언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95]    스포츠패션
2         64382  언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95]    스포츠패션
3         64382  언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95]    스포츠패션
4         64382  언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95]    스포츠패션
...         ...                                               ...      ...
6158101  400890              아디다스 D2M 로고 반팔티셔츠 (BK0937) - 105(XL)    스포츠패션
6158103  400382      [바니플랫]여성플랫/BNF63011EN - 브라운 / 245 ◈83660832◈     패션잡화
6158105  400197                 섀르반 올인원 수영복 (K14D5DM231) - BL/110    시즌스포츠
6158106  399225             링클플리츠주름밴딩스커트(CFHM1SK8821) - 블랙 / FREE     여성의류
6158107  399225             링클플리츠주름밴딩스커트(CFHM1SK8821) - 블랙 / FREE     여성의류

         CLAC3_NM      ACTION                       PD_ADD_NM   PD_BRA_NM
0        남성스포츠티셔츠  buy,search           색상:블랙|사이즈:MD[95] / 1개   언더아머(스포츠)
1        남성스포츠티셔츠  buy,search           색상:블랙|사이즈:MD[95] / 1개   언더아머(스포츠)
2        남성스포츠티셔츠  buy,search           색상:블랙|사이즈:MD[95] / 1개   언더아머(스포츠)
3        남성스포츠티셔츠  buy,search           색상:블랙|사이즈:MD[95] / 1개   언더아머(스포츠)
4        남성스포츠티셔츠  buy,search           색상:블랙|사이즈:MD[95] / 1개   언더아머(스포츠)
...           ...         ...                             ...         ...
6158101  남성스포츠티셔츠  buy,search                      사이즈:100(L)  [아디다스(의류)]
6158103      여성플랫  buy,search  색상:브라운|사이즈:225 ◈83660828◈ / 1개        바니플랫
6158105     아동수영복  buy,search              색상/사이즈:PK/120 / 1개         섀르반
6158106     여성스커트  buy,search                  색상:블루/사이즈:FREE       [포커스]
6158107     여성스커트  buy,search             색상:핑크|사이즈:FREE / 1개         포커스

[3553282 rows x 7 columns]

## 단순구매의 경우 순위

In [20]:
buy_data = ddata[buy_filter]
bsearch_data = ddata[buysearch_filter]

In [21]:

buydata = buy_data['PD_C']
buydata

6           62282
8           61537
11          58820
12          58820
13          58820
            ...
6158097    410356
6158098    409376
6158102    400721
6158104    400197
6158108    306289
Name: PD_C, Length: 2604535, dtype: int64

In [22]:
cnt = {}

for data in buydata:
    try: cnt[data] +=1
    except: cnt[data] = 1

In [23]:
cnt

{62282: 1,
 61537: 1,
 58820: 3,
 58280: 2,
 58183: 2,
 58098: 2,
 58057: 3,
 56306: 1,
 55076: 2,
 318122: 2,
 317956: 3,
 127096: 1,
 125372: 2,
 124084: 1,
 123395: 2,
 123233: 1,
 122845: 1,
 209216: 7,
 216029: 2,
 214635: 1,
 213856: 1,
 213204: 1,
 213185: 1,
 209786: 1,
 206498: 1,
 202585: 1,
 262880: 1,
 255793: 1,
 316695: 1,
 316577: 11,
 312035: 1,
 311385: 1,
 306459: 2,
 237368: 2,
 236664: 2,
 119241: 3,
 115986: 2,
 115913: 1,
 111192: 6,
 109061: 1,
 392764: 1,
 392707: 5,
 269637: 1,
 269117: 7,
 263707: 1,
 261189: 1,
 260721: 1,
 342186: 4,
 340646: 3,
 339896: 3,
 337277: 3,
 333712: 2,
 331633: 1,
 440655: 1,
 439396: 2,
 439375: 13,
 437353: 1,
 455491: 4,
 454332: 1,
 450785: 2,
 445643: 1,
 270447: 1,
 320123: 4,
 420708: 1,
 416597: 8,
 416457: 7,
 255530: 1,
 253913: 2,
 252325: 1,
 384894: 1,
 426961: 1,
 223352: 1,
 219971: 3,
 218036: 1,
 262839: 1,
 247004: 3,
 244918: 1,
 243270: 4,
 241840: 2,
 240341: 4,
 411754: 1,
 406760: 3,
 297774: 5,
 295445: 1,
 288446: 75,
 377329: 1,
 375681: 1,
 374527: 5,
 280793: 4,
 280789: 3,
 279605: 3,
 288748: 1,
 287895: 2,
 284593: 3,
 232206: 4,
 371266: 1,
 370639: 7,
 369233: 9,
 365623: 3,
 363786: 20,
 283241: 3,
 276527: 2,
 328796: 1,
 327307: 2,
 325272: 2,
 324198: 2,
 322701: 1,
 321626: 1,
 318034: 3,
 194349: 7,
 192815: 1,
 188494: 1,
 233091: 2,
 275921: 1,
 254838: 1,
 250686: 1,
 241778: 1,
 360772: 1,
 360358: 1,
 304553: 1,
 302715: 4,
 301896: 2,
 300893: 2,
 298644: 4,
 316816: 6,
 291572: 1,
 291077: 3,
 289876: 1,
 213980: 2,
 213020: 14,
 211527: 1,
 330702: 3,
 295611: 1,
 345897: 1,
 345706: 1,
 288621: 1,
 286446: 2,
 206078: 1,
 199770: 2,
 194177: 3,
 193220: 1,
 189844: 11,
 312562: 1,
 311102: 1,
 306534: 3,
 300589: 1,
 248799: 1,
 248536: 1,
 268960: 1,
 268603: 2,
 265478: 1,
 265299: 1,
 263093: 2,
 261276: 2,
 343155: 1,
 337862: 1,
 337839: 2,
 228621: 1,
 226742: 2,
 150463: 4,
 187805: 1,
 186369: 2,
 224334: 1,
 223806: 3,
 221665: 2,
 220127: 1,
 215831: 2,
 211502: 1,
 210579: 11,
 243460: 5,
 242764: 2,
 241822: 13,
 240676: 1,
 270643: 1,
 270134: 1,
 265936: 46,
 265931: 1,
 229078: 10,
 221437: 2,
 376573: 1,
 375999: 2,
 327697: 2,
 324074: 1,
 323627: 5,
 311591: 1,
 311166: 1,
 344026: 10,
 335404: 29,
 464163: 1,
 461577: 1,
 318172: 15,
 307656: 1,
 304645: 1,
 304640: 9,
 207001: 6,
 206479: 5,
 205208: 1,
 204074: 1,
 371417: 2,
 369613: 3,
 372575: 1,
 372406: 1,
 371828: 6,
 368810: 2,
 366811: 4,
 364099: 1,
 447114: 1,
 443903: 1,
 289766: 1,
 288761: 1,
 245047: 9,
 244269: 2,
 243693: 2,
 243593: 6,
 366086: 6,
 358822: 2,
 358638: 1,
 418444: 1,
 417665: 2,
 411767: 1,
 410937: 8,
 358244: 3,
 357960: 1,
 356796: 4,
 478946: 2,
 476978: 1,
 476244: 5,
 475587: 2,
 472830: 2,
 407141: 21,
 400426: 1,
 399399: 1,
 276496: 2,
 275130: 7,
 275086: 1,
 242039: 6,
 238569: 7,
 443152: 2,
 405434: 4,
 404276: 4,
 403842: 3,
 403576: 1,
 400383: 1,
 263811: 13,
 259922: 15,
 254391: 2,
 428454: 1,
 427874: 7,
 262176: 1,
 260600: 10,
 259406: 1,
 258614: 8,
 257312: 10,
 330272: 3,
 247247: 2,
 431712: 4,
 427657: 2,
 425281: 4,
 422482: 1,
 422138: 1,
 125561: 1,
 118664: 1,
 115441: 1,
 111269: 2,
 421453: 2,
 300580: 1,
 298789: 1,
 295281: 1,
 198298: 7,
 188584: 3,
 188269: 2,
 386920: 45,
 382371: 6,
 380108: 1,
 352767: 1,
 351763: 2,
 351047: 1,
 108741: 1,
 168494: 1,
 164850: 10,
 163341: 1,
 163069: 3,
 316318: 3,
 173921: 4,
 161400: 1,
 395781: 2,
 391788: 1,
 389536: 14,
 384512: 2,
 382704: 1,
 382025: 1,
 346777: 1,
 345800: 1,
 341877: 2,
 143868: 14,
 143580: 1,
 159057: 1,
 158618: 2,
 156752: 3,
 256601: 9,
 255329: 2,
 253291: 19,
 157249: 2,
 372456: 29,
 371373: 4,
 369656: 1,
 380786: 1,
 352072: 1,
 119301: 1,
 166401: 3,
 163231: 3,
 160295: 15,
 160284: 2,
 183737: 1,
 132712: 1,
 132030: 2,
 127556: 3,
 126077: 1,
 123908: 1,
 123469: 1,
 121088: 1,
 157466: 1,
 152272: 2,
 150644: 2,
 102737: 1,
 101606: 1,
 91461: 3,
 90690: 3,
 90613: 29,
 90225: 2,
 90066: 2,
 89113: 2,
 114286: 1,
 110544: 5,
 109214: 2,
 70861: 4,
 67399: 1,
 65968: 1,
 177896: 3,
 177627: 1,
 176752: 9,
 174399: 1,
 173276: 13,
 173196: 4,
 168507: 5,
 183783: 4,
 99526: 3,
 96640: 1,
 91703: 1,
 91679: 1,
 88928: 3,
 85300: 1,
 82553: 1,
 103102: 1,
 102776: 6,
 102546: 1,
 97192: 3,
 90056: 1,
 90008: 1,
 88705: 3,
 61240: 4,
 59392: 31,
 52043: 5,
 50698: 2,
 183028: 2,
 180489: 4,
 180267: 5,
 179843: 3,
 6637: 1,
 4694: 1,
 1546: 1,
 987: 2,
 82547: 1,
 81219: 1,
 84347: 2,
 75331: 3,
 65497: 1,
 64614: 1,
 88240: 1,
 104810: 1,
 104131: 5,
 100696: 4,
 100496: 2,
 99885: 1,
 97793: 1,
 92068: 1,
 55275: 2,
 48506: 1,
 44652: 4,
 40882: 1,
 55504: 2,
 52435: 1,
 52308: 1,
 44852: 1,
 42912: 3,
 37662: 2,
 13772: 2,
 6179: 9,
 6158: 2,
 5618: 2,
 2409: 12,
 1370: 8,
 58481: 1,
 54803: 1,
 49184: 1,
 48364: 1,
 44533: 1,
 43813: 1,
 39085: 1,
 35821: 1,
 80791: 1,
 80138: 1,
 76450: 2,
 69416: 2,
 68174: 2,
 67407: 1,
 66641: 1,
 62870: 1,
 60657: 1,
 28780: 1,
 24423: 1,
 20149: 1,
 18160: 1,
 25734: 12,
 109275: 1,
 108920: 2,
 104315: 2,
 43837: 2,
 42444: 1,
 41986: 1,
 41034: 1,
 36431: 1,
 32822: 1,
 26471: 2,
 95012: 15,
 93625: 2,
 91078: 1,
 87247: 1,
 86406: 5,
 85532: 2,
 84446: 1,
 82670: 1,
 82395: 1,
 82300: 1,
 81432: 2,
 24244: 1,
 24053: 1,
 23658: 1,
 20911: 1,
 19177: 4,
 14071: 4,
 11023: 2,
 10394: 1,
 46125: 1,
 42494: 1,
 35844: 4,
 35511: 1,
 35342: 1,
 31218: 5,
 30906: 1,
 27160: 29,
 26710: 1,
 26414: 18,
 24187: 2,
 22655: 8,
 22234: 5,
 21909: 1,
 20171: 1,
 17915: 1,
 14288: 2,
 12930: 1,
 8307: 1,
 7884: 51,
 7331: 1,
 64895: 2,
 63658: 1,
 57457: 3,
 56621: 1,
 845132: 5,
 842282: 1,
 828922: 1,
 843131: 1,
 840123: 1,
 834395: 5,
 826914: 5,
 824973: 1,
 824889: 2,
 6191: 8,
 5313: 5,
 835028: 1,
 834272: 92,
 831937: 1,
 831486: 23,
 812176: 1,
 804775: 1,
 816805: 4,
 815545: 2,
 812257: 1,
 810755: 2,
 808819: 23,
 804158: 2,
 801995: 1,
 799606: 1,
 799375: 3,
 796986: 1,
 796450: 42,
 835939: 1,
 832459: 2,
 831655: 1,
 827433: 1,
 793271: 2,
 791653: 2,
 783192: 29,
 781796: 2,
 777474: 1,
 820640: 3,
 819574: 3,
 817992: 1,
 817255: 2,
 746597: 1,
 740425: 1,
 738630: 7,
 816496: 1,
 813867: 1,
 813214: 2,
 806418: 12,
 805222: 1,
 804678: 1,
 804053: 2,
 824246: 32,
 735944: 1,
 734590: 2,
 733763: 2,
 726801: 1,
 773345: 1,
 770654: 5,
 702021: 2,
 700982: 1,
 698825: 1,
 695248: 1,
 688366: 1,
 687911: 3,
 813811: 1,
 800002: 12,
 795247: 1,
 767837: 1,
 782361: 3,
 664561: 3,
 664081: 1,
 667494: 1,
 663775: 1,
 657903: 2,
 656590: 2,
 694906: 21,
 687798: 13,
 463796: 3,
 462260: 15,
 461427: 2,
 455940: 1,
 343650: 1,
 342670: 3,
 352313: 4,
 337865: 2,
 295590: 1,
 295507: 1,
 283946: 1,
 280151: 2,
 396278: 3,
 392486: 3,
 390378: 2,
 388341: 1,
 387700: 4,
 311065: 1,
 386912: 1,
 385081: 4,
 377704: 48,
 458292: 2,
 457827: 1,
 334072: 3,
 420727: 6,
 420532: 1,
 417001: 1,
 366783: 2,
 364188: 15,
 358998: 7,
 354625: 3,
 354566: 1,
 354442: 2,
 354151: 1,
 353805: 3,
 308359: 3,
 301298: 9,
 301099: 2,
 297807: 14,
 294051: 8,
 290964: 30,
 265497: 1,
 265189: 1,
 455227: 1,
 452396: 1,
 451912: 4,
 450765: 1,
 447759: 1,
 447447: 16,
 397686: 5,
 430014: 1,
 426519: 2,
 425559: 3,
 424599: 7,
 398161: 1,
 395760: 4,
 394181: 21,
 391552: 4,
 391438: 1,
 388532: 1,
 384842: 1,
 384837: 2,
 384376: 2,
 441948: 3,
 439649: 2,
 437471: 2,
 434780: 1,
 432739: 1,
 427088: 1,
 489975: 7,
 489548: 1,
 488441: 2,
 412131: 4,
 411425: 28,
 408018: 2,
 402644: 1,
 402245: 3,
 401022: 255,
 401020: 2,
 399267: 1,
 483458: 1,
 478447: 2,
 477536: 2,
 471000: 1,
 469743: 9,
 469439: 6,
 465126: 14,
 409262: 1,
 369358: 1,
 367959: 1,
 367307: 1,
 365944: 1,
 365417: 6,
 365254: 1,
 359674: 1,
 453440: 5,
 344794: 1,
 339498: 13,
 333891: 3,
 413815: 1,
 413626: 4,
 412143: 1,
 410831: 1,
 410006: 5,
 407538: 1,
 406087: 6,
 406021: 3,
 405834: 2,
 449133: 21,
 441783: 2,
 441270: 1,
 440974: 1,
 440903: 1,
 436583: 1,
 435459: 4,
 398347: 53,
 399773: 1,
 399382: 6,
 398779: 4,
 329894: 1,
 329303: 3,
 326480: 1,
 322414: 5,
 390035: 14,
 389852: 2,
 382184: 2,
 316444: 2,
 368515: 11,
 368169: 2,
 365259: 2,
 365191: 2,
 361689: 1,
 359070: 1,
 387544: 5,
 385507: 1,
 380202: 1,
 376025: 1,
 375903: 1,
 353515: 2,
 348161: 5,
 330919: 3,
 329179: 1,
 327411: 3,
 324366: 2,
 370167: 2,
 368342: 1,
 366769: 25,
 364330: 4,
 360577: 3,
 357771: 1,
 321619: 2,
 237462: 1,
 237225: 1,
 235301: 1,
 234332: 17,
 160968: 1,
 159448: 3,
 40437: 1,
 57820: 1,
 56866: 1,
 55591: 1,
 186359: 1,
 184534: 1,
 182963: 2,
 181588: 6,
 98864: 1,
 95842: 1,
 93421: 1,
 92901: 3,
 48888: 1,
 139854: 2,
 138244: 1,
 136506: 1,
 87348: 1,
 176912: 1,
 165359: 2,
 165271: 1,
 82696: 1,
 81052: 1,
 80375: 5,
 68245: 1,
 65578: 1,
 193488: 1,
 193028: 3,
 190675: 1,
 189518: 3,
 155801: 1,
 155424: 1,
 152811: 5,
 152799: 98,
 151825: 1,
 150788: 2,
 150674: 7,
 149949: 2,
 147582: 3,
 145547: 5,
 63553: 1,
 178980: 1,
 176690: 1,
 229103: 1,
 228969: 2,
 220303: 2,
 217511: 5,
 141327: 3,
 198469: 1,
 193551: 1,
 191524: 1,
 191285: 1,
 189880: 2,
 188042: 1,
 152394: 1,
 172636: 1,
 165011: 1,
 164607: 2,
 136351: 3,
 134631: 1,
 134140: 1,
 130156: 1,
 127239: 1,
 118995: 3,
 162462: 1,
 185040: 1,
 177910: 1,
 177376: 5,
 175475: 1,
 171358: 5,
 170470: 1,
 169693: 22,
 32467: 1,
 254854: 8,
 253310: 2,
 252209: 1,
 244484: 47,
 353254: 1,
 350889: 3,
 343797: 2,
 340466: 2,
 424421: 1,
 313494: 4,
 309934: 1,
 305070: 1,
 302845: 2,
 301112: 3,
 296842: 2,
 360759: 2,
 316792: 4,
 314864: 6,
 312301: 1,
 312077: 1,
 305488: 1,
 188789: 15,
 187792: 9,
 177038: 2,
 176882: 2,
 190274: 1,
 189700: 1,
 424170: 10,
 423657: 2,
 416628: 13,
 411561: 10,
 358654: 7,
 355812: 1,
 354400: 1,
 351567: 3,
 347006: 2,
 295892: 1,
 304101: 8,
 239071: 2,
 229930: 1,
 223372: 1,
 222445: 1,
 183590: 2,
 181483: 1,
 176009: 1,
 171911: 1,
 171889: 4,
 331285: 4,
 326576: 2,
 409286: 2,
 407594: 3,
 290456: 1,
 277121: 1,
 270196: 4,
 269845: 1,
 217696: 3,
 459964: 1,
 459313: 1,
 458140: 4,
 457291: 2,
 456577: 5,
 456407: 1,
 418260: 1,
 276812: 20,
 273754: 4,
 272685: 2,
 349644: 5,
 346340: 19,
 345398: 3,
 345397: 4,
 341269: 1,
 331867: 5,
 380105: 2,
 373209: 3,
 306852: 1,
 306152: 1,
 301956: 2,
 301084: 3,
 269681: 4,
 227581: 24,
 222215: 1,
 216103: 2,
 214537: 8,
 201882: 7,
 196476: 6,
 189500: 2,
 185817: 1,
 249355: 1,
 432276: 2,
 430706: 9,
 426317: 6,
 423637: 1,
 422973: 1,
 421317: 2,
 418837: 1,
 356691: 2,
 356484: 5,
 294666: 5,
 310037: 1,
 309928: 1,
 305180: 1,
 212985: 2,
 212438: 1,
 210813: 29,
 392142: 6,
 387930: 1,
 387125: 3,
 383617: 2,
 382229: 1,
 409443: 1,
 396245: 3,
 386666: 4,
 565843: 1,
 722916: 1,
 719644: 1,
 541165: 5,
 538509: 10,
 533500: 1,
 526882: 11,
 519947: 3,
 518558: 2,
 744085: 1,
 739065: 10,
 737532: 5,
 735518: 1,
 734373: 2,
 734188: 7,
 729751: 1,
 565934: 1,
 822193: 1,
 788540: 1,
 786933: 1,
 784638: 1,
 784222: 1,
 781172: 1,
 780777: 4,
 779266: 2,
 778861: 6,
 716262: 2,
 716051: 2,
 714811: 13,
 791588: 1,
 790625: 1,
 758480: 1,
 670274: 3,
 629506: 1,
 627118: 4,
 618724: 2,
 618397: 2,
 697010: 1,
 696737: 2,
 696270: 4,
 694817: 4,
 694506: 4,
 694230: 191,
 689486: 1,
 689090: 3,
 688811: 2,
 688437: 15,
 687410: 6,
 710754: 3,
 663110: 1,
 42091: 2,
 37125: 2,
 32916: 2,
 23983: 2,
 98220: 2,
 96124: 8,
 89318: 1,
 89008: 1,
 83688: 1,
 81248: 2,
 80240: 1,
 79966: 3,
 72411: 33,
 67866: 1,
 64569: 1,
 61804: 3,
 59229: 1,
 197: 12,
 54117: 1,
 49962: 1,
 48190: 1,
 48000: 2,
 42929: 1,
 40867: 3,
 37454: 1,
 34806: 3,
 28164: 2,
 27982: 1,
 15885: 13,
 7490: 1,
 5693: 1,
 5349: 14,
 4505: 2,
 4457: 91,
 838409: 17,
 837737: 3,
 833745: 2,
 829475: 1,
 822904: 69,
 822615: 6,
 820857: 3,
 842097: 2,
 841647: 6,
 832655: 2,
 829314: 1,
 828121: 1,
 847295: 1,
 842358: 1,
 839594: 2,
 837257: 1,
 832577: 4,
 830264: 2,
 814253: 5,
 253180: 3,
 ...}

In [24]:
## 딕셔너리로 정렬하기
cntsort = sorted(cnt.items(), key = lambda x:x[1], reverse=True)

In [25]:
print(cntsort[:10])

[(753343, 6715), (755981, 3404), (748308, 3270), (622881, 2636), (692709, 2603), (706924, 2579), (1965, 2514), (768597, 2372), (380539, 2343), (839528, 2131)]

In [26]:
info = ddata.drop(['ACTION'],axis=1)

In [27]:
data1 = info[info['PD_C'] == 380539 ]
data2 = info[info['PD_C'] == 622881 ]
data3 = info[info['PD_C'] == 759894 ]
data4 = info[info['PD_C'] == 559754 ]
data5 = info[info['PD_C'] == 365667 ]
data6 = info[info['PD_C'] == 247522 ]
data7 = info[info['PD_C'] == 1965 ]
data8 = info[info['PD_C'] == 555551 ]
data9 = info[info['PD_C'] == 581894 ]
data10 = info[info['PD_C'] == 207981 ]

data1 = data1[:1]
data1
data2 = data2[:1]
data3 = data3[:1]
data4 = data4[:1]
data5 = data5[:1]
data6 = data6[:1]
data7 = data7[:1]
data8 = data8[:1]
data9 = data9[:1]
data10 = data10[:1]

In [28]:
rank = data1
rank

,PD_C,PD_NM,CLAC1_NM,CLAC3_NM,PD_ADD_NM,PD_BRA_NM
4271827,380539,여성 브이넥 반소매 티셔츠 TFMS1KOE65D0 - N00(화이트) / M,여성의류,여성티셔츠/탑,색상:N00(화이트)/사이즈:M,[타미힐피거여성]

In [29]:
rank = rank.append(data2)
rank = rank.append(data3)
rank = rank.append(data4)
rank = rank.append(data5)
rank = rank.append(data6)
rank = rank.append(data7)
rank = rank.append(data8)
rank = rank.append(data9)
rank = rank.append(data10)

In [30]:
rank

,PD_C,PD_NM,CLAC1_NM,CLAC3_NM,PD_ADD_NM,PD_BRA_NM
4271827,380539,여성 브이넥 반소매 티셔츠 TFMS1KOE65D0 - N00(화이트) / M,여성의류,여성티셔츠/탑,색상:N00(화이트)/사이즈:M,[타미힐피거여성]
3975788,622881,[선미 공항패션]Taylor mini O5NBCB08_PW - BLACK,패션잡화,여성토트백,COLOR:CREAM / 1개,오야니(가방)
4821796,759894,테일러 MID(Taylor MID)O6FBCB22_PB - CREAM,패션잡화,여성숄더백,COLOR:CREAM / 1개,오야니
2249310,559754,여성 베이직 스트라이프 크루넥 티셔츠 TUNS1KOE23D0 - 멀티핑크(N29) / M,남성의류,남성티셔츠,색상:라이트블루(N27)/사이즈:M,[타미진]
3524755,365667,[LAP] #핫한반팔T 모음 18종택1(LAP_0416) - 14_AJGWT039_...,여성의류,여성티셔츠/탑,색상:06_AJGWT021_CH|사이즈:F / 1개,랩
772696,247522,여성 슬림핏 플래그 피케 티셔츠 (TFMS1KTE60D0) - 그린(G30) / L...,여성의류,여성티셔츠/탑,색상:블루(B40)|사이즈:S(55) / 1개,타미힐피거여성
3274622,1965,홍삼정 에브리타임(10mlx30포) / 롯데백화점 본점 출고 / 정관장,건강식품,홍삼액,1개,정관장
6144346,555551,[COURONNE] Selena(셀레나) Shoulder_RCBSX18213BKX ...,패션잡화,여성숄더백,사이즈:XXX,[쿠론]
1153207,581894,봄메탈사양말2 JSSC302C - 블루 / FREE,속옷/양말/홈웨어,여성일반양말,색상:블루|사이즈:FREE / 1개,쥬시쥬디
884127,207981,D (여) 심플베이직덧신 스킨 - (여)스킨,속옷/양말/홈웨어,여성덧신류,색상:(여)스킨,[올삭스]

In [29]:
#rank.reset_index()

## 비교구매 순위!

In [31]:
bsearch = bsearch_data['PD_C']
bsearch

0           64382
1           64382
2           64382
3           64382
4           64382
            ...
6158101    400890
6158103    400382
6158105    400197
6158106    399225
6158107    399225
Name: PD_C, Length: 3553282, dtype: int64

In [32]:
cnt = {}

for dd in bsearch:
    try: cnt[dd] +=1
    except: cnt[dd] = 1

In [33]:
cnt

{64382: 6,
 61729: 1,
 61537: 2,
 58183: 1,
 318011: 4,
 317956: 4,
 124084: 1,
 122845: 1,
 210546: 1,
 209216: 23,
 216029: 4,
 213856: 1,
 213204: 2,
 213185: 2,
 209786: 1,
 201823: 1,
 266521: 1,
 266015: 2,
 255793: 2,
 180483: 3,
 180482: 1,
 316577: 9,
 312733: 2,
 312035: 1,
 306459: 3,
 236664: 11,
 115120: 1,
 112387: 2,
 111192: 5,
 109858: 1,
 109817: 3,
 109061: 1,
 24522: 4,
 19895: 1,
 18043: 1,
 15370: 1,
 10841: 2,
 392764: 2,
 392752: 2,
 392707: 3,
 390918: 2,
 390776: 1,
 389861: 4,
 269637: 1,
 269117: 11,
 263707: 4,
 261189: 4,
 260721: 3,
 258646: 1,
 342186: 5,
 340646: 2,
 337631: 7,
 337277: 4,
 333712: 2,
 332807: 1,
 331949: 2,
 440201: 1,
 439396: 1,
 439375: 3,
 455494: 1,
 454332: 12,
 451908: 1,
 450785: 3,
 447372: 2,
 447017: 3,
 443453: 3,
 442458: 1,
 442146: 2,
 272178: 1,
 271781: 2,
 270635: 1,
 320988: 1,
 320123: 12,
 311334: 2,
 416597: 4,
 416457: 6,
 255722: 2,
 255530: 1,
 252325: 1,
 387435: 2,
 384894: 1,
 382813: 2,
 432475: 2,
 430753: 1,
 426961: 7,
 223352: 1,
 220679: 2,
 219971: 21,
 247004: 8,
 243270: 6,
 241840: 2,
 239056: 1,
 406760: 3,
 293669: 2,
 288446: 89,
 377329: 1,
 374527: 7,
 280793: 5,
 280789: 4,
 279605: 7,
 202416: 1,
 210117: 8,
 208986: 1,
 208621: 1,
 289211: 2,
 287895: 1,
 286739: 3,
 280527: 2,
 279374: 2,
 278859: 3,
 232206: 6,
 371266: 6,
 370984: 1,
 370639: 9,
 369233: 4,
 365878: 2,
 365746: 1,
 363786: 23,
 283241: 4,
 278997: 2,
 327773: 1,
 327307: 1,
 325272: 1,
 324306: 1,
 321626: 3,
 318034: 2,
 317774: 11,
 199790: 6,
 194349: 5,
 187980: 2,
 231824: 2,
 229315: 1,
 229312: 1,
 271794: 2,
 254838: 3,
 250686: 1,
 242172: 4,
 241778: 4,
 357272: 1,
 355979: 2,
 306715: 2,
 306015: 1,
 302715: 1,
 300893: 2,
 296762: 2,
 292092: 1,
 217866: 5,
 213020: 3,
 211527: 3,
 330702: 20,
 329568: 1,
 327559: 1,
 323644: 1,
 296927: 1,
 296300: 1,
 295611: 2,
 290649: 3,
 286446: 1,
 207383: 1,
 206078: 3,
 201130: 4,
 189844: 10,
 188401: 3,
 312562: 1,
 309018: 1,
 302676: 1,
 248799: 3,
 248536: 2,
 265299: 2,
 265100: 2,
 261276: 3,
 260583: 1,
 343155: 2,
 341565: 1,
 337839: 2,
 337218: 1,
 227501: 5,
 226742: 3,
 144505: 1,
 187805: 1,
 186369: 4,
 182759: 1,
 215831: 3,
 214519: 2,
 211502: 2,
 210579: 5,
 243460: 9,
 241822: 11,
 241047: 1,
 240907: 1,
 240676: 1,
 239877: 1,
 265936: 91,
 265931: 2,
 224489: 1,
 221437: 1,
 221068: 12,
 217910: 2,
 375999: 1,
 327697: 4,
 324074: 1,
 323627: 3,
 311591: 4,
 344026: 7,
 340788: 3,
 335404: 55,
 332436: 1,
 463421: 1,
 459877: 1,
 321568: 1,
 318172: 25,
 317286: 3,
 312546: 1,
 304640: 21,
 301168: 2,
 299612: 2,
 207001: 1,
 204792: 1,
 369613: 3,
 367412: 2,
 307053: 1,
 305957: 3,
 305427: 1,
 372575: 1,
 372406: 1,
 371828: 7,
 368810: 5,
 366811: 8,
 458270: 1,
 446132: 1,
 443645: 1,
 292897: 1,
 289766: 2,
 289173: 2,
 251852: 1,
 246366: 4,
 245047: 8,
 244269: 3,
 243593: 6,
 366086: 17,
 364857: 1,
 362268: 2,
 357523: 2,
 419630: 1,
 417665: 2,
 416547: 1,
 413821: 2,
 410937: 20,
 410462: 2,
 359089: 2,
 356796: 3,
 482204: 2,
 479718: 1,
 478946: 5,
 476244: 1,
 472830: 4,
 407141: 14,
 400426: 3,
 399849: 1,
 399399: 1,
 276580: 4,
 275130: 9,
 238569: 11,
 234688: 4,
 233262: 2,
 443152: 1,
 442634: 1,
 438434: 2,
 408568: 2,
 405434: 2,
 404276: 5,
 403842: 6,
 263811: 36,
 259922: 16,
 255634: 1,
 255399: 1,
 252497: 2,
 427874: 10,
 260600: 7,
 258614: 5,
 253786: 1,
 330102: 1,
 329629: 1,
 431712: 10,
 425281: 6,
 393707: 1,
 251323: 7,
 116431: 1,
 115441: 4,
 295627: 8,
 295281: 1,
 202268: 1,
 198298: 4,
 195712: 2,
 191257: 3,
 188659: 2,
 188584: 4,
 186526: 1,
 186349: 1,
 389575: 2,
 386920: 51,
 382371: 8,
 351763: 1,
 108741: 3,
 170495: 3,
 168494: 1,
 167095: 2,
 164850: 1,
 173921: 6,
 165091: 2,
 161400: 1,
 397251: 3,
 396921: 2,
 394782: 1,
 394174: 1,
 391788: 2,
 389536: 5,
 384512: 3,
 383016: 2,
 382704: 1,
 346777: 1,
 341877: 1,
 152794: 1,
 147339: 5,
 145919: 2,
 143868: 64,
 143371: 1,
 138217: 2,
 137815: 1,
 156752: 5,
 256601: 8,
 255329: 6,
 253291: 40,
 156204: 6,
 379934: 1,
 376700: 8,
 372456: 42,
 371373: 10,
 369848: 1,
 369656: 7,
 366741: 5,
 380786: 1,
 355075: 1,
 352385: 3,
 352072: 5,
 119301: 2,
 166401: 5,
 160295: 3,
 155895: 1,
 154079: 1,
 182642: 3,
 133465: 1,
 132741: 1,
 132030: 4,
 130138: 1,
 127556: 1,
 123908: 3,
 123469: 3,
 158387: 2,
 152272: 3,
 91461: 1,
 90690: 2,
 90613: 50,
 90225: 3,
 90183: 1,
 90066: 1,
 89113: 3,
 72472: 1,
 116416: 1,
 114723: 1,
 109214: 2,
 67399: 5,
 177896: 6,
 176752: 3,
 174399: 1,
 173276: 7,
 185121: 1,
 184304: 1,
 183783: 5,
 99526: 3,
 96640: 1,
 88928: 1,
 102776: 16,
 99632: 2,
 98374: 2,
 93621: 2,
 90056: 1,
 88705: 5,
 88644: 3,
 61240: 1,
 59392: 43,
 55290: 3,
 53506: 1,
 52043: 7,
 51414: 2,
 51216: 1,
 46444: 5,
 183263: 1,
 180489: 2,
 180267: 3,
 180048: 2,
 179488: 1,
 172730: 4,
 4645: 1,
 82547: 2,
 83483: 1,
 75331: 2,
 67375: 1,
 65497: 2,
 87089: 3,
 104131: 4,
 100696: 3,
 100496: 3,
 96861: 1,
 95812: 1,
 88308: 1,
 88205: 2,
 23502: 1,
 23062: 2,
 57799: 2,
 57148: 1,
 51296: 1,
 50277: 1,
 42099: 1,
 40882: 1,
 34022: 2,
 62351: 1,
 44640: 1,
 42912: 3,
 39598: 1,
 37662: 2,
 13772: 3,
 11268: 1,
 10914: 1,
 6179: 16,
 6158: 1,
 5058: 1,
 2409: 8,
 1370: 24,
 293: 2,
 177: 2,
 56678: 2,
 51965: 1,
 49184: 1,
 35026: 1,
 76450: 2,
 66641: 1,
 62870: 2,
 29521: 1,
 28780: 2,
 26742: 1,
 25355: 1,
 24423: 1,
 21333: 1,
 20149: 1,
 25734: 6,
 108668: 2,
 104315: 3,
 104069: 1,
 102099: 5,
 45470: 2,
 41034: 1,
 36921: 3,
 34656: 3,
 30183: 4,
 27249: 1,
 26471: 3,
 100060: 2,
 97788: 1,
 97017: 5,
 95012: 2,
 90863: 1,
 87577: 1,
 87382: 1,
 85532: 1,
 84446: 1,
 7099: 2,
 4477: 1,
 984: 2,
 82300: 3,
 80722: 1,
 74851: 2,
 24244: 2,
 23658: 1,
 19177: 5,
 17699: 1,
 13911: 1,
 12041: 6,
 11023: 2,
 47436: 1,
 46125: 1,
 45044: 1,
 43057: 1,
 37087: 2,
 35844: 11,
 35511: 2,
 35342: 5,
 34896: 1,
 31218: 10,
 30906: 1,
 27160: 13,
 26414: 22,
 25815: 1,
 22655: 23,
 22611: 1,
 22234: 4,
 18169: 1,
 17880: 2,
 13262: 1,
 10369: 1,
 7884: 12,
 7331: 7,
 64895: 1,
 64222: 1,
 62765: 2,
 62421: 2,
 57457: 3,
 845132: 8,
 842282: 1,
 839259: 1,
 835910: 3,
 840123: 6,
 834395: 7,
 834278: 1,
 829832: 1,
 827380: 1,
 824889: 12,
 824228: 1,
 823361: 6,
 6191: 14,
 5313: 13,
 835028: 2,
 834272: 246,
 831486: 12,
 831254: 1,
 821130: 1,
 818490: 1,
 812432: 4,
 808131: 1,
 804870: 6,
 816805: 7,
 809737: 3,
 808819: 27,
 804158: 1,
 799606: 3,
 799375: 1,
 796986: 1,
 796450: 57,
 827440: 1,
 843308: 1,
 842954: 2,
 841945: 2,
 791653: 9,
 783192: 42,
 777132: 2,
 777077: 1,
 819820: 4,
 819574: 3,
 841157: 5,
 839277: 1,
 836798: 2,
 756540: 1,
 755285: 1,
 746597: 1,
 745503: 3,
 740425: 5,
 738630: 18,
 814264: 4,
 813214: 1,
 806418: 8,
 805222: 1,
 804678: 4,
 804053: 1,
 824246: 46,
 735944: 1,
 733763: 5,
 730484: 1,
 729974: 1,
 727446: 3,
 725707: 6,
 725170: 1,
 778705: 1,
 770654: 4,
 769817: 1,
 702021: 6,
 690394: 2,
 689820: 6,
 687911: 2,
 685568: 1,
 685318: 1,
 815034: 5,
 814055: 2,
 800002: 22,
 798219: 1,
 767837: 3,
 764777: 1,
 763955: 1,
 787727: 1,
 783865: 1,
 782361: 6,
 666553: 1,
 664561: 9,
 664613: 2,
 657903: 1,
 656590: 4,
 694906: 47,
 690763: 3,
 690429: 3,
 687798: 6,
 463796: 3,
 462408: 1,
 462260: 15,
 342670: 6,
 352313: 3,
 349720: 2,
 343901: 2,
 342812: 2,
 297371: 2,
 295590: 1,
 294075: 2,
 283946: 2,
 279999: 3,
 396278: 1,
 396227: 2,
 393909: 8,
 392486: 11,
 391433: 2,
 389905: 2,
 311665: 1,
 311065: 2,
 385081: 15,
 377704: 155,
 458292: 1,
 457827: 9,
 334072: 1,
 427807: 1,
 427172: 1,
 425392: 7,
 420727: 8,
 417001: 3,
 416996: 1,
 416978: 1,
 416514: 8,
 368334: 1,
 366783: 1,
 364188: 5,
 363968: 2,
 362190: 1,
 358998: 6,
 354625: 5,
 354566: 3,
 354442: 2,
 354151: 2,
 353805: 3,
 308651: 2,
 308359: 1,
 301298: 20,
 301099: 1,
 300528: 2,
 297807: 15,
 294051: 8,
 290964: 34,
 265189: 1,
 456895: 1,
 455227: 2,
 452396: 7,
 451912: 2,
 447868: 3,
 447759: 1,
 447447: 9,
 447286: 1,
 447153: 2,
 446618: 2,
 430527: 1,
 428515: 1,
 425559: 1,
 424599: 12,
 396406: 1,
 395760: 1,
 394181: 87,
 392146: 1,
 391552: 1,
 388532: 1,
 384837: 1,
 384376: 2,
 441321: 1,
 432739: 1,
 431651: 1,
 429406: 1,
 489548: 4,
 488441: 4,
 415470: 1,
 413900: 1,
 411425: 30,
 402644: 3,
 402245: 8,
 401297: 2,
 401022: 244,
 478447: 5,
 477536: 2,
 469743: 3,
 469439: 3,
 469228: 1,
 465126: 14,
 414484: 2,
 402257: 1,
 369358: 4,
 368183: 2,
 367959: 9,
 367307: 1,
 365417: 11,
 364997: 1,
 364880: 1,
 363717: 1,
 453440: 1,
 453342: 1,
 344794: 2,
 339692: 2,
 339498: 12,
 336443: 3,
 413626: 6,
 412143: 3,
 410831: 2,
 410006: 6,
 406087: 8,
 405834: 1,
 449498: 1,
 449133: 48,
 440974: 1,
 440903: 3,
 437476: 2,
 436583: 4,
 435459: 6,
 435445: 2,
 398347: 96,
 400994: 1,
 399382: 11,
 398779: 9,
 329894: 2,
 329303: 1,
 327556: 1,
 326858: 2,
 322414: 1,
 393638: 1,
 390035: 10,
 389852: 2,
 389508: 2,
 385970: 1,
 379810: 3,
 317167: 1,
 316444: 1,
 315484: 3,
 368515: 10,
 365259: 3,
 397503: 4,
 393044: 3,
 387544: 4,
 385507: 1,
 381659: 1,
 381237: 2,
 380202: 2,
 373711: 1,
 356665: 1,
 356246: 5,
 353515: 3,
 353170: 2,
 348161: 4,
 331818: 2,
 330919: 1,
 329179: 1,
 327411: 1,
 326376: 3,
 324366: 2,
 370167: 11,
 368342: 1,
 366769: 43,
 364330: 2,
 361210: 1,
 360577: 2,
 358966: 1,
 357606: 1,
 352071: 1,
 321619: 1,
 461116: 5,
 460853: 1,
 237462: 2,
 237225: 2,
 235301: 3,
 234332: 4,
 232413: 2,
 47274: 2,
 42319: 1,
 55185: 1,
 53791: 1,
 186568: 1,
 186359: 4,
 184534: 5,
 184038: 1,
 181588: 4,
 101128: 6,
 95842: 5,
 92901: 1,
 141369: 1,
 139854: 3,
 138484: 1,
 136759: 1,
 85665: 3,
 177328: 1,
 176949: 1,
 176912: 7,
 174822: 3,
 174305: 2,
 172075: 3,
 171600: 1,
 170238: 1,
 165359: 4,
 165135: 4,
 164107: 2,
 82696: 2,
 80782: 1,
 75914: 2,
 161827: 1,
 161547: 1,
 194172: 1,
 193488: 1,
 190675: 4,
 189518: 1,
 155424: 4,
 152811: 3,
 152799: 100,
 150788: 4,
 150674: 1,
 150298: 2,
 146382: 1,
 145547: 4,
 63553: 2,
 63186: 1,
 62031: 1,
 178980: 1,
 178790: 1,
 177482: 2,
 175575: 4,
 230534: 1,
 228969: 1,
 226756: 1,
 223684: 2,
 222359: 5,
 217511: 8,
 139445: 1,
 199133: 3,
 193841: 1,
 193551: 4,
 189880: 2,
 188406: 1,
 188332: 3,
 268747: 3,
 268594: 5,
 161494: 1,
 158136: 1,
 152394: 2,
 164607: 1,
 161570: 1,
 134631: 3,
 134140: 1,
 127239: 2,
 118995: 5,
 162462: 3,
 177910: 2,
 177376: 2,
 176537: 1,
 175736: 1,
 175475: 2,
 171358: 6,
 169693: 44,
 254854: 6,
 253310: 1,
 252781: 1,
 252209: 2,
 250533: 3,
 244484: 60,
 244455: 2,
 244190: 2,
 243723: 1,
 353254: 2,
 350889: 3,
 343797: 6,
 340466: 2,
 424421: 8,
 311459: 1,
 307845: 1,
 305070: 6,
 301112: 2,
 296842: 2,
 316913: 5,
 314864: 1,
 312348: 4,
 312077: 1,
 309453: 2,
 308938: 1,
 305488: 1,
 304136: 2,
 188789: 39,
 187792: 8,
 177038: 10,
 176882: 1,
 175875: 1,
 175294: 3,
 174487: 5,
 172835: 2,
 172315: 4,
 171376: 2,
 190274: 3,
 189700: 3,
 424170: 2,
 424091: 3,
 423657: 3,
 421491: 1,
 416786: 4,
 416628: 21,
 411561: 12,
 358654: 10,
 358278: 2,
 355812: 2,
 354683: 3,
 354400: 4,
 352240: 1,
 304101: 8,
 302463: 2,
 239071: 7,
 230339: 1,
 225906: 7,
 222445: 1,
 218535: 1,
 176009: 1,
 171889: 3,
 349235: 3,
 344305: 1,
 335549: 1,
 331285: 3,
 329367: 2,
 409286: 2,
 407594: 7,
 290713: 1,
 281281: 2,
 280543: 2,
 277121: 1,
 270196: 5,
 217696: 16,
 217504: 2,
 217149: 1,
 216286: 2,
 459964: 2,
 458140: 4,
 457291: 5,
 456820: 1,
 456577: 3,
 456407: 1,
 454852: 1,
 276812: 15,
 273754: 3,
 272685: 1,
 349644: 11,
 348064: 2,
 346340: 27,
 345398: 4,
 345397: 1,
 341269: 3,
 335835: 2,
 331867: 2,
 378915: 3,
 376145: 1,
 375500: 2,
 374697: 3,
 373209: 1,
 310067: 1,
 306952: 1,
 301956: 2,
 301084: 2,
 269681: 4,
 227581: 37,
 222215: 3,
 214537: 14,
 201882: 1,
 196476: 6,
 187823: 2,
 185218: 2,
 184395: 1,
 431682: 2,
 430706: 9,
 427177: 5,
 426317: 3,
 421563: 2,
 421345: 2,
 356691: 6,
 356484: 13,
 297141: 1,
 294666: 4,
 305180: 3,
 212985: 11,
 210813: 47,
 ...}

In [34]:
cntsort = sorted(cnt.items(), key = lambda x:x[1], reverse=True)
print(cntsort[40:46])

[(1955, 10261), (803165, 10243), (585568, 10231), (737770, 10206), (325662, 10155), (559754, 10146)]

In [34]:
data1 = info[info['PD_C'] == 1965 ]
data2 = info[info['PD_C'] == 678377 ]
data3 = info[info['PD_C'] == 380539 ]
data4 = info[info['PD_C'] == 365667 ]
data5 = info[info['PD_C'] == 50185 ]
data6 = info[info['PD_C'] == 718416 ]
data7 = info[info['PD_C'] == 759894 ]
data8 = info[info['PD_C'] == 622881 ]
data9 = info[info['PD_C'] == 748308 ]
data10 = info[info['PD_C'] == 554713 ]

data1 = data1[:1]
data2 = data2[:1]
data3 = data3[:1]
data4 = data4[:1]
data5 = data5[:1]
data6 = data6[:1]
data7 = data7[:1]
data8 = data8[:1]
data9 = data9[:1]
data10 = data10[:1]

In [35]:
rank = data1
rank = rank.append(data2)
rank = rank.append(data3)
rank = rank.append(data4)
rank = rank.append(data5)
rank = rank.append(data6)
rank = rank.append(data7)
rank = rank.append(data8)
rank = rank.append(data9)
rank = rank.append(data10)

In [36]:
rank.reset_index()

,index,PD_C,PD_NM,CLAC1_NM,CLAC3_NM,PD_ADD_NM,PD_BRA_NM
0,3274622,1965,홍삼정 에브리타임(10mlx30포) / 롯데백화점 본점 출고 / 정관장,건강식품,홍삼액,1개,정관장
1,4379064,678377,네이키드 히트 팔레트,화장품/뷰티케어,아이섀도우,1개,어반디케이
2,4271827,380539,여성 브이넥 반소매 티셔츠 TFMS1KOE65D0 - N00(화이트) / M,여성의류,여성티셔츠/탑,색상:N00(화이트)/사이즈:M,[타미힐피거여성]
3,3524755,365667,[LAP] #핫한반팔T 모음 18종택1(LAP_0416) - 14_AJGWT039_...,여성의류,여성티셔츠/탑,색상:06_AJGWT021_CH|사이즈:F / 1개,랩
4,3489866,50185,[G]자음 기초2종 기획세트(+상품권1만원증정) - 세트/,화장품/뷰티케어,스킨케어세트,타입:세트/ / 1개,설화수
5,2840124,718416,홍삼정 240g 롯데백화점 본점 출고 / 정관장,건강식품,홍삼액,(not set),[정관장]
6,4821796,759894,테일러 MID(Taylor MID)O6FBCB22_PB - CREAM,패션잡화,여성숄더백,COLOR:CREAM / 1개,오야니
7,3975788,622881,[선미 공항패션]Taylor mini O5NBCB08_PW - BLACK,패션잡화,여성토트백,COLOR:CREAM / 1개,오야니(가방)
8,2859953,748308,립스틱 - 온 홀드,화장품/뷰티케어,립스틱/립라이너,색상:릴렌트리슬리 레드 / 1개,맥
9,3913515,554713,3D 지비츠 - 크록스악세사리 - 01.흰고래-꼬리,출산/육아용품,출산/신생아용품세트,선택:23.자동차 / 1개,플레이비츠

## 기기별 순위

In [4]:
sess = pd.read_csv("Clustered_Session.csv")
sess[:3]

,CLNT_ID,SESS_ID,SESS_SEQ,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ACTION,CLUSTER
0,5873599,8641867,9,82.0,1890,mobile,"buy,search",4
1,5873599,6616320,21,105.0,1604,mobile,"buy,search",4
2,5873599,5886172,40,41.0,632,mobile,"buy,search",0

In [5]:
sess = sess.drop(['SESS_SEQ','TOT_SESS_HR_V','TOT_PAG_VIEW_CT','ACTION','CLUSTER'],axis=1)

In [6]:
sess.head()

   CLNT_ID   SESS_ID DVC_CTG_NM
0  5873599   8641867     mobile
1  5873599   6616320     mobile
2  5873599   5886172     mobile
3  5873884   1050889     mobile
4  5874461  10298270     mobile

In [7]:
product = pd.read_csv("01.Pruduct.csv")
product[:3]

C:\Users\User\anaconda3.7\envs\chaelin_virtenv\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CLNT_ID,SESS_ID,HITS_SEQ,PD_C,PD_ADD_NM,PD_BRA_NM,PD_BUY_AM,PD_BUY_CT
0,4139680,7605037,12,642112,색상:워터멜론,[바비브라운],"39,000",1
1,4140076,10189797,13,570603,색상:BLK0_(BLK0)BLACK|사이즈:120 / 2개,데상트,"39,000",2
2,4142395,6158159,85,179538,(not set),[아베다],"39,000",1

In [8]:
custom = pd.read_csv("04.Custom.csv")
custom[:3]

   CLNT_ID CLNT_GENDER  CLNT_AGE
0  4830726           F        30
1  4830874           F        40
2  4830975           F        30

In [9]:
product = product.drop(['PD_BUY_CT','HITS_SEQ','PD_BUY_AM'],axis=1)
product[:3]

   CLNT_ID   SESS_ID    PD_C                         PD_ADD_NM PD_BRA_NM
0  4139680   7605037  642112                           색상:워터멜론   [바비브라운]
1  4140076  10189797  570603  색상:BLK0_(BLK0)BLACK|사이즈:120 / 2개       데상트
2  4142395   6158159  179538                         (not set)     [아베다]

In [10]:
predevice = pd.merge(custom, product,left_on='CLNT_ID', right_on='CLNT_ID', how='left')
predevice[:3]

,CLNT_ID,CLNT_GENDER,CLNT_AGE,SESS_ID,PD_C,PD_ADD_NM,PD_BRA_NM
0,4830726,F,30,2546785,357970,1개,에스까다(선글라스)
1,4830726,F,30,2546785,357970,1개,에스까다(선글라스)
2,4830874,F,40,1456881,81976,색상:버건디(90)|사이즈:S(90/66) / 1개,유닛

In [11]:
device = pd.merge(sess, predevice, left_on='SESS_ID', right_on='SESS_ID', how='left')
device[:3]

,CLNT_ID_x,SESS_ID,DVC_CTG_NM,CLNT_ID_y,CLNT_GENDER,CLNT_AGE,PD_C,PD_ADD_NM,PD_BRA_NM
0,5873599,8641867,mobile,5873599.0,F,20.0,370753.0,색상:선택(04) 기본체크 4번 세트 / 1개,닥스(손수건)
1,5873599,8641867,mobile,5873599.0,F,20.0,370753.0,색상:선택(09) 81번 세트 / 1개,닥스(손수건)
2,5873599,8641867,mobile,5873599.0,F,20.0,370753.0,색상:선택(10) 82번 세트 / 1개,닥스(손수건)

In [14]:
ddf = pd.merge(device, mast, left_on='PD_C', right_on='PD_C', how='left')
ddf[:3]

,CLNT_ID_x,SESS_ID,DVC_CTG_NM,CLNT_ID_y,CLNT_GENDER,CLNT_AGE,PD_C,PD_ADD_NM,PD_BRA_NM,PD_NM,CLAC1_NM,CLAC2_NM,CLAC3_NM
0,5873599,8641867,mobile,5873599.0,F,20.0,370753.0,색상:선택(04) 기본체크 4번 세트 / 1개,닥스(손수건),남녀 손수건 2매세트 25종 택 1 - 선택(04) 기본체크 4번 세트,패션잡화,패션액세서리,손수건
1,5873599,8641867,mobile,5873599.0,F,20.0,370753.0,색상:선택(09) 81번 세트 / 1개,닥스(손수건),남녀 손수건 2매세트 25종 택 1 - 선택(04) 기본체크 4번 세트,패션잡화,패션액세서리,손수건
2,5873599,8641867,mobile,5873599.0,F,20.0,370753.0,색상:선택(10) 82번 세트 / 1개,닥스(손수건),남녀 손수건 2매세트 25종 택 1 - 선택(04) 기본체크 4번 세트,패션잡화,패션액세서리,손수건

In [17]:
ddf = ddf.drop(['CLNT_ID_x','CLNT_ID_y','CLAC2_NM'], axis=1)
ddf[:3]

,SESS_ID,DVC_CTG_NM,CLNT_GENDER,CLNT_AGE,PD_C,PD_ADD_NM,PD_BRA_NM,PD_NM,CLAC1_NM,CLAC3_NM
0,8641867,mobile,F,20.0,370753.0,색상:선택(04) 기본체크 4번 세트 / 1개,닥스(손수건),남녀 손수건 2매세트 25종 택 1 - 선택(04) 기본체크 4번 세트,패션잡화,손수건
1,8641867,mobile,F,20.0,370753.0,색상:선택(09) 81번 세트 / 1개,닥스(손수건),남녀 손수건 2매세트 25종 택 1 - 선택(04) 기본체크 4번 세트,패션잡화,손수건
2,8641867,mobile,F,20.0,370753.0,색상:선택(10) 82번 세트 / 1개,닥스(손수건),남녀 손수건 2매세트 25종 택 1 - 선택(04) 기본체크 4번 세트,패션잡화,손수건

In [53]:
#ddf.to_csv("DeviceProduct.csv")
#import pandas as pd
#ddf = pd.read_csv("MobileProduct.csv", index_col=0)

In [30]:
mobile_filter = ddf['DVC_CTG_NM']=='mobile'
print(ddf[mobile_filter])

desktop_filter = ddf['DVC_CTG_NM']=='desktop'
print(ddf[desktop_filter])

tablet_filter = ddf['DVC_CTG_NM']=='tablet'
print(ddf[tablet_filter])

         SESS_ID DVC_CTG_NM CLNT_GENDER  CLNT_AGE      PD_C  \
0        8641867     mobile           F      20.0  370753.0
1        8641867     mobile           F      20.0  370753.0
2        8641867     mobile           F      20.0  370753.0
3        6616320     mobile           F      20.0  659005.0
4        5886172     mobile           F      20.0  809194.0
...          ...        ...         ...       ...       ...
5276399  8713975     mobile           M      20.0     895.0
5276401   582632     mobile           F      30.0   66442.0
5276402   582632     mobile           F      30.0  521307.0
5276403   582632     mobile           F      30.0   24629.0
5276404   582632     mobile           F      30.0   50660.0

                         PD_ADD_NM     PD_BRA_NM  \
0        색상:선택(04) 기본체크 4번 세트 / 1개       닥스(손수건)
1            색상:선택(09) 81번 세트 / 1개       닥스(손수건)
2            색상:선택(10) 82번 세트 / 1개       닥스(손수건)
3                       색상:2호 / 1개     조르지오 아르마니
4                 색상:리질리언트 루즈 / 1개             맥
...                            ...           ...
5276399                색상:화이트 / 1개      아레나(수영복)
5276401          색상:블랙|사이즈:55 / 1개  매그제이(MAGJAY)
5276402         색상/사이즈:네이비/55 / 1개  매그제이(MAGJAY)
5276403          색상:블랙|사이즈:FF / 1개  매그제이(MAGJAY)
5276404         색상:베이지|사이즈:FF / 1개  매그제이(MAGJAY)

                                             PD_NM  CLAC1_NM       CLAC3_NM
0          남녀 손수건 2매세트 25종 택 1 - 선택(04) 기본체크 4번 세트      패션잡화            손수건
1          남녀 손수건 2매세트 25종 택 1 - 선택(04) 기본체크 4번 세트      패션잡화            손수건
2          남녀 손수건 2매세트 25종 택 1 - 선택(04) 기본체크 4번 세트      패션잡화            손수건
3                             아르마니 투 고 쿠션 15g - 4호  화장품/뷰티케어  BB/파운데이션/컴팩트류
4                               버시컬러 스테인 - 포에버. 달링  화장품/뷰티케어        립글로즈/틴트
...                                            ...       ...            ...
5276399  아레나 수모(APAAQ01) 베이직 수영 모자 3가지 색상 택일 - 화이트     시즌스포츠        기타물놀이용품
5276401          데일리심플블라우스 (J12NBL441) - 아이보리 / 55      여성의류         여성남방셔츠
5276402      [오가게/매그제이]데일리슬랙스(J11NPT209) - 아이보리/77      여성의류           여성바지
5276403           클래식바바리코트 (J12PBB006) - 아이보리 / FF      여성의류           여성코트
5276404           퍼프레이스블라우스 (J12PBL032) - 베이지 / FF      여성의류         여성남방셔츠

[4769378 rows x 10 columns]
         SESS_ID DVC_CTG_NM CLNT_GENDER  CLNT_AGE      PD_C  \
26         10855    desktop         NaN       NaN       NaN
69        658549    desktop         NaN       NaN       NaN
165      9017038    desktop         NaN       NaN       NaN
166      9062670    desktop         NaN       NaN       NaN
167      9199758    desktop         NaN       NaN       NaN
...          ...        ...         ...       ...       ...
5276393  8205641    desktop           F      40.0  291622.0
5276396   259993    desktop         NaN       NaN       NaN
5276400  4636571    desktop         NaN       NaN       NaN
5276405  2328407    desktop         NaN       NaN       NaN
5276406  8702345    desktop         NaN       NaN       NaN

                          PD_ADD_NM PD_BRA_NM  \
26                              NaN       NaN
69                              NaN       NaN
165                             NaN       NaN
166                             NaN       NaN
167                             NaN       NaN
...                             ...       ...
5276393  색상-사이즈/사이즈:색상/혼합컬러-5호 / 1개        지앤
5276396                         NaN       NaN
5276400                         NaN       NaN
5276405                         NaN       NaN
5276406                         NaN       NaN

                                             PD_NM   CLAC1_NM CLAC3_NM
26                                             NaN        NaN      NaN
69                                             NaN        NaN      NaN
165                                            NaN        NaN      NaN
166                                            NaN        NaN      NaN
167                                            NaN        NaN      NaN
...                                            ...        ...      ...
5276393  [보리보리/지앤]J추피망커즈(5족) 유아아동발목양말 - 색상/혼합컬러-5호  속옷/양말/홈웨어  유아동일반양말
5276396                                        NaN        NaN      NaN
5276400                                        NaN        NaN      NaN
5276405                                        NaN        NaN      NaN
5276406                                        NaN        NaN      NaN

[482189 rows x 10 columns]
          SESS_ID DVC_CTG_NM CLNT_GENDER  CLNT_AGE      PD_C  \
3852      8257926     tablet           F      20.0  836872.0
3853      8257926     tablet           F      30.0  683002.0
3854      8257926     tablet           F      30.0  683002.0
5163      3715544     tablet           M      50.0    5077.0
5164      2850073     tablet           M      50.0  674766.0
...           ...        ...         ...       ...       ...
5274934   9812628     tablet         NaN       NaN       NaN
5275006   7615762     tablet         NaN       NaN       NaN
5275517   1026614     tablet           F      30.0  748308.0
5275563  10736756     tablet           F      40.0  453175.0
5275564  10736756     tablet           F      40.0  453175.0

                               PD_ADD_NM PD_BRA_NM  \
3852                                  1개       마몽드
3853          제품선택:미니노어_젖꼭지(1팩)_3단계 / 2개      미니노어
3854          제품선택:미니노어_젖꼭지(1팩)_2단계 / 2개      미니노어
5163                   폐가전 수거 요청:있음 / 1개      LG전자
5164                                  2개       라우쉬
...                                  ...       ...
5274934                              NaN       NaN
5275006                              NaN       NaN
5275517                       색상:스놉 / 3개         맥
5275563  상품색상:아더7부팬츠_카치온그레이|사이즈:11호 / 1개       키스포
5275564     상품색상:아더7부팬츠_네이비|사이즈:11호 / 1개       키스포

                                                     PD_NM  CLAC1_NM  CLAC3_NM
3852                                     단독 로즈 워터 토너 500ml  화장품/뷰티케어     스킨/토너
3853     배앓이방지 스마트 젖꼭지 1팩(2매입) 아기 신생아 모유실감 - 미니노어_젖꼭지(1...   출산/육아용품    젖병/젖꼭지
3854     배앓이방지 스마트 젖꼭지 1팩(2매입) 아기 신생아 모유실감 - 미니노어_젖꼭지(1...   출산/육아용품    젖병/젖꼭지
5163               빙고 냉동고 F-A201GDW (200L/슈퍼화이트/포켓핸들/특급냉동)   냉장/세탁가전       냉동고
5164                             라우쉬 콜츠푸트 안티-댄드러프 샴푸 200ml     퍼스널케어        샴푸
...                                                    ...       ...       ...
5274934                                                NaN       NaN       NaN
5275006                                                NaN       NaN       NaN
5275517                                         립스틱 - 온 홀드  화장품/뷰티케어  립스틱/립라이너
5275563              아더7부팬츠_카치온그레이.RP21 - 아더7부팬츠_네이비 / 13호     유아동의류      남아바지
5275564              아더7부팬츠_카치온그레이.RP21 - 아더7부팬츠_네이비 / 13호     유아동의류      남아바지

[24840 rows x 10 columns]

In [19]:
mobile_data = ddf[mobile_filter]
desktop_data = ddf[desktop_filter]
tablet_data = ddf[tablet_filter]

mobile = mobile_data['PD_C']
desktop = desktop_data['PD_C']
tablet = tablet_data['PD_C']

### mobile

In [20]:
cnt = {}

for data in mobile:
    try: cnt[data] +=1
    except: cnt[data] = 1
cnt

{370753.0: 240,
 659005.0: 1024,
 809194.0: 769,
 466958.0: 18,
 466960.0: 9,
 32653.0: 4,
 32643.0: 10,
 717969.0: 1,
 529086.0: 4,
 494058.0: 46,
 31848.0: 23,
 754609.0: 154,
 85890.0: 50,
 156921.0: 1,
 319791.0: 20,
 734030.0: 6,
 476483.0: 15,
 474422.0: 5,
 559265.0: 168,
 735157.0: 7,
 768863.0: 1,
 582493.0: 1,
 19479.0: 7,
 45962.0: 8,
 812559.0: 9,
 741621.0: 310,
 133996.0: 15,
 801860.0: 60,
 191255.0: 10,
 452653.0: 79,
 544154.0: 67,
 469116.0: 27,
 469970.0: 59,
 619530.0: 1,
 785268.0: 1,
 785260.0: 1,
 816071.0: 129,
 758341.0: 121,
 662941.0: 66,
 542764.0: 15,
 505029.0: 46,
 185600.0: 31,
 418773.0: 14,
 226271.0: 66,
 844646.0: 12,
 844648.0: 1,
 628547.0: 60,
 61926.0: 343,
 26785.0: 37,
 26787.0: 109,
 30311.0: 12,
 113890.0: 65,
 86498.0: 14,
 671607.0: 1,
 749116.0: 41,
 843240.0: 44,
 30460.0: 2,
 34237.0: 11,
 45705.0: 5,
 731419.0: 44,
 776418.0: 381,
 80953.0: 313,
 173437.0: 50,
 409937.0: 4,
 217076.0: 11,
 298689.0: 11,
 769281.0: 852,
 623632.0: 14,
 742372.0: 696,
 27008.0: 8,
 742374.0: 44,
 748332.0: 1321,
 748308.0: 6230,
 842995.0: 2,
 778194.0: 18,
 650619.0: 14,
 109616.0: 155,
 159954.0: 12,
 592646.0: 151,
 772288.0: 2,
 449926.0: 217,
 536254.0: 17,
 29069.0: 28,
 535614.0: 68,
 64933.0: 13,
 536144.0: 29,
 53317.0: 17,
 53175.0: 9,
 813088.0: 110,
 760659.0: 1,
 760654.0: 1,
 760660.0: 1,
 398413.0: 1,
 732089.0: 9,
 803579.0: 16,
 734676.0: 68,
 633532.0: 21,
 402914.0: 143,
 737745.0: 754,
 329073.0: 230,
 681908.0: 197,
 670874.0: 4,
 166573.0: 11,
 742551.0: 16,
 384214.0: 1,
 556595.0: 68,
 486305.0: 7,
 831165.0: 11,
 658747.0: 3555,
 399507.0: 905,
 535774.0: 1169,
 295231.0: 242,
 294504.0: 119,
 133671.0: 1,
 183783.0: 3,
 680557.0: 264,
 274943.0: 5,
 459864.0: 98,
 729079.0: 2,
 708641.0: 22,
 733577.0: 10,
 420898.0: 77,
 704019.0: 15,
 527501.0: 18,
 523851.0: 21,
 583504.0: 86,
 568686.0: 5,
 808547.0: 8,
 737670.0: 73,
 160458.0: 82,
 589747.0: 21,
 589865.0: 36,
 589787.0: 32,
 29533.0: 3,
 70453.0: 6,
 720457.0: 41,
 373438.0: 34,
 622260.0: 3,
 737634.0: 20,
 90698.0: 33,
 479676.0: 33,
 656270.0: 6,
 484508.0: 1,
 203936.0: 12,
 301805.0: 16,
 310654.0: 42,
 339955.0: 3,
 436397.0: 5,
 315376.0: 30,
 520212.0: 1984,
 543814.0: 8,
 387746.0: 31,
 813639.0: 6,
 753135.0: 1,
 797464.0: 10,
 820439.0: 16,
 473869.0: 2,
 672315.0: 5,
 229136.0: 1,
 698760.0: 259,
 508252.0: 5,
 385758.0: 1,
 378101.0: 1,
 385786.0: 2,
 710683.0: 1,
 473879.0: 6,
 713810.0: 9,
 747903.0: 9,
 547370.0: 317,
 802571.0: 8,
 96037.0: 107,
 838687.0: 164,
 847151.0: 42,
 31209.0: 101,
 56120.0: 3,
 22976.0: 1,
 17982.0: 2,
 740967.0: 107,
 179793.0: 81,
 325657.0: 56,
 583418.0: 3,
 183459.0: 4,
 288658.0: 70,
 140245.0: 7,
 140249.0: 7,
 500923.0: 1884,
 596462.0: 55,
 262984.0: 310,
 434481.0: 3,
 462381.0: 16,
 165553.0: 2,
 776411.0: 101,
 361991.0: 17,
 640131.0: 159,
 152733.0: 23,
 273229.0: 43,
 294854.0: 47,
 221175.0: 4,
 148348.0: 38,
 512048.0: 11,
 511130.0: 2,
 506103.0: 1,
 nan: 1,
 744417.0: 1,
 775346.0: 49,
 188716.0: 70,
 763448.0: 29,
 303172.0: 6,
 642086.0: 9,
 35229.0: 5,
 566729.0: 5,
 528126.0: 5,
 68178.0: 3,
 656226.0: 1,
 265937.0: 8,
 704714.0: 13,
 802408.0: 41,
 242681.0: 6,
 504193.0: 3,
 230893.0: 3,
 749640.0: 2,
 431766.0: 35,
 487521.0: 4,
 675810.0: 132,
 755981.0: 4335,
 57471.0: 12,
 623754.0: 1843,
 177649.0: 15,
 737668.0: 33,
 56900.0: 7,
 644800.0: 16,
 103110.0: 12,
 4072.0: 106,
 784789.0: 4,
 531126.0: 1,
 57499.0: 23,
 67259.0: 18,
 72188.0: 68,
 43770.0: 74,
 553396.0: 97,
 266793.0: 7,
 225604.0: 4,
 824528.0: 22,
 81962.0: 195,
 827198.0: 5,
 8886.0: 72,
 344695.0: 248,
 347283.0: 45,
 359705.0: 178,
 627752.0: 34,
 741782.0: 196,
 575239.0: 2,
 114303.0: 9,
 522322.0: 116,
 169449.0: 27,
 737465.0: 460,
 161208.0: 163,
 161207.0: 370,
 77168.0: 2,
 59069.0: 134,
 88874.0: 1,
 626770.0: 112,
 199859.0: 11,
 522616.0: 56,
 212539.0: 446,
 186891.0: 46,
 761390.0: 34,
 23701.0: 67,
 24860.0: 60,
 11204.0: 6,
 351215.0: 2,
 220718.0: 62,
 493834.0: 1,
 9207.0: 3,
 489439.0: 429,
 420750.0: 39,
 769906.0: 4,
 626771.0: 13,
 22446.0: 5,
 6911.0: 5,
 595005.0: 1,
 2268.0: 13,
 824434.0: 39,
 824436.0: 31,
 808027.0: 49,
 770464.0: 38,
 57047.0: 2,
 279987.0: 27,
 28849.0: 3,
 418116.0: 63,
 737567.0: 13,
 692902.0: 22,
 673694.0: 17,
 139059.0: 3,
 205934.0: 5,
 481589.0: 14,
 379190.0: 19,
 261528.0: 1122,
 119539.0: 14,
 113414.0: 1,
 2743.0: 10,
 800413.0: 1093,
 775371.0: 43,
 36662.0: 4,
 784602.0: 5,
 81636.0: 6,
 31000.0: 3,
 614479.0: 19,
 404953.0: 4,
 110378.0: 4,
 492690.0: 7,
 54171.0: 19,
 83463.0: 4,
 338114.0: 434,
 26182.0: 6,
 437750.0: 6,
 140700.0: 14,
 576239.0: 39,
 18116.0: 4,
 668408.0: 11,
 602767.0: 19,
 659632.0: 108,
 18663.0: 64,
 528986.0: 2,
 63617.0: 19,
 147183.0: 37,
 174228.0: 52,
 174152.0: 10,
 173625.0: 10,
 174220.0: 2,
 147243.0: 11,
 173458.0: 9,
 45942.0: 4,
 174190.0: 66,
 173493.0: 36,
 817672.0: 13,
 328449.0: 1,
 639744.0: 456,
 9991.0: 21,
 835317.0: 4,
 835321.0: 18,
 737770.0: 2321,
 810278.0: 96,
 7364.0: 229,
 836092.0: 20,
 792185.0: 902,
 643687.0: 28,
 817895.0: 184,
 742670.0: 564,
 703212.0: 393,
 17659.0: 5,
 703937.0: 18,
 100886.0: 4,
 618457.0: 2,
 199213.0: 2,
 256722.0: 2,
 142350.0: 102,
 626593.0: 19,
 435705.0: 18,
 539353.0: 43,
 201073.0: 178,
 782116.0: 506,
 593106.0: 32,
 579657.0: 3,
 563987.0: 16,
 598705.0: 12,
 76126.0: 2,
 20964.0: 1,
 45629.0: 57,
 567464.0: 40,
 655700.0: 13,
 364739.0: 155,
 668494.0: 373,
 692264.0: 575,
 744902.0: 281,
 744904.0: 1079,
 480882.0: 584,
 409938.0: 2104,
 847167.0: 4,
 324556.0: 65,
 772923.0: 23,
 691436.0: 2013,
 778537.0: 65,
 599942.0: 89,
 599829.0: 116,
 810429.0: 1,
 578461.0: 6,
 796781.0: 54,
 845431.0: 6,
 596499.0: 262,
 829158.0: 6,
 677562.0: 6,
 806673.0: 658,
 812382.0: 80,
 449943.0: 581,
 243358.0: 79,
 242627.0: 257,
 389762.0: 83,
 520189.0: 29,
 757825.0: 11,
 596715.0: 35,
 596691.0: 16,
 596693.0: 54,
 596692.0: 32,
 596689.0: 22,
 596713.0: 42,
 596690.0: 14,
 596714.0: 25,
 769133.0: 388,
 171079.0: 7,
 168255.0: 4,
 618322.0: 1,
 756497.0: 2,
 756496.0: 1,
 753257.0: 1,
 182512.0: 19,
 647560.0: 309,
 414135.0: 2,
 845470.0: 4,
 689189.0: 83,
 537305.0: 10,
 225207.0: 875,
 624469.0: 31,
 15886.0: 127,
 830906.0: 4,
 800143.0: 6,
 480991.0: 1,
 707145.0: 249,
 713134.0: 5,
 706476.0: 36,
 400392.0: 11,
 536205.0: 1267,
 448818.0: 104,
 571908.0: 3,
 278164.0: 1,
 277857.0: 3,
 721290.0: 10,
 697841.0: 101,
 16099.0: 12,
 448218.0: 10,
 448279.0: 8,
 107616.0: 58,
 24022.0: 1,
 34615.0: 35,
 762341.0: 340,
 1387.0: 73,
 762254.0: 45,
 78991.0: 17,
 450920.0: 21,
 78986.0: 40,
 814060.0: 36,
 512443.0: 769,
 255008.0: 27,
 749339.0: 3,
 579646.0: 8,
 212446.0: 8,
 530388.0: 4,
 720082.0: 1,
 178517.0: 10,
 699619.0: 3,
 522465.0: 5,
 33452.0: 175,
 408434.0: 1540,
 603982.0: 471,
 798623.0: 514,
 64087.0: 714,
 634162.0: 24,
 29295.0: 60,
 1959.0: 236,
 531882.0: 76,
 756940.0: 76,
 837358.0: 6,
 806213.0: 13,
 451161.0: 545,
 733694.0: 1,
 734016.0: 11,
 469927.0: 2,
 465099.0: 134,
 709348.0: 93,
 386652.0: 8,
 309318.0: 1,
 511415.0: 73,
 331201.0: 5,
 587124.0: 3,
 731301.0: 263,
 484389.0: 119,
 713526.0: 24,
 613297.0: 4,
 528432.0: 5,
 548503.0: 1,
 358952.0: 110,
 768242.0: 203,
 81306.0: 15,
 19263.0: 30,
 122458.0: 10,
 817074.0: 3,
 62316.0: 2,
 256704.0: 4,
 470824.0: 14,
 37925.0: 21,
 560161.0: 18,
 53459.0: 46,
 625155.0: 44,
 29050.0: 10,
 289271.0: 26,
 784795.0: 8,
 156151.0: 29,
 274605.0: 160,
 63920.0: 38,
 413161.0: 20,
 737108.0: 1231,
 448199.0: 51,
 667169.0: 123,
 329115.0: 1108,
 816233.0: 182,
 107204.0: 1,
 316455.0: 1,
 160207.0: 2,
 138424.0: 1,
 344291.0: 1,
 727621.0: 3,
 727628.0: 5,
 727418.0: 1,
 287893.0: 2,
 213386.0: 4,
 681182.0: 12,
 211555.0: 32,
 382231.0: 60,
 91766.0: 16,
 646031.0: 5,
 467432.0: 6,
 35280.0: 4,
 415919.0: 449,
 452325.0: 169,
 76348.0: 10,
 163308.0: 2,
 18114.0: 1,
 312510.0: 3,
 635771.0: 7,
 425513.0: 15,
 14859.0: 1,
 50735.0: 27,
 375209.0: 2,
 553629.0: 6,
 370086.0: 15,
 525424.0: 33,
 495090.0: 13,
 518728.0: 103,
 337824.0: 14,
 697673.0: 24,
 556013.0: 975,
 523409.0: 3,
 621787.0: 13,
 621785.0: 10,
 432011.0: 126,
 320429.0: 4,
 218990.0: 42,
 163059.0: 32,
 101847.0: 187,
 836070.0: 336,
 472853.0: 40,
 477805.0: 333,
 19589.0: 6,
 142628.0: 14,
 150092.0: 10,
 47310.0: 3,
 61431.0: 16,
 26416.0: 2,
 203753.0: 10,
 323826.0: 7,
 781366.0: 42,
 781369.0: 64,
 703973.0: 1,
 50118.0: 1,
 775418.0: 321,
 837797.0: 183,
 452987.0: 22,
 552997.0: 10,
 604240.0: 640,
 586872.0: 21,
 346967.0: 16,
 534557.0: 3,
 552996.0: 36,
 420926.0: 84,
 686974.0: 51,
 537376.0: 7,
 463858.0: 1285,
 126268.0: 2,
 682640.0: 4,
 560535.0: 9,
 560534.0: 15,
 782416.0: 36,
 269673.0: 4,
 366223.0: 123,
 149141.0: 1,
 171387.0: 6,
 50771.0: 3,
 32202.0: 3,
 139989.0: 4,
 42586.0: 2,
 264347.0: 2,
 587847.0: 208,
 105392.0: 86,
 53706.0: 73,
 26452.0: 26,
 831949.0: 1,
 225246.0: 83,
 156042.0: 237,
 150132.0: 1,
 644128.0: 18,
 692482.0: 3,
 275849.0: 19,
 724063.0: 7,
 373461.0: 217,
 438642.0: 440,
 505014.0: 99,
 696256.0: 1,
 825638.0: 68,
 691008.0: 16,
 723521.0: 1,
 836607.0: 5,
 1967.0: 1238,
 767032.0: 4,
 595930.0: 25,
 595927.0: 34,
 630735.0: 83,
 623655.0: 12,
 539928.0: 86,
 630071.0: 30,
 132725.0: 1,
 603849.0: 1,
 495602.0: 3,
 181360.0: 3,
 241106.0: 9,
 764457.0: 90,
 296046.0: 14,
 216446.0: 1,
 65888.0: 3,
 36082.0: 1,
 45336.0: 3,
 241109.0: 5,
 151911.0: 27,
 124966.0: 9,
 556548.0: 118,
 770886.0: 1,
 819356.0: 9,
 789939.0: 40,
 766240.0: 89,
 475304.0: 274,
 540803.0: 90,
 657307.0: 31,
 127395.0: 412,
 585280.0: 7,
 736941.0: 1233,
 23123.0: 42,
 17537.0: 80,
 713311.0: 38,
 20260.0: 3,
 20540.0: 8,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 753371.0: 12,
 545101.0: 114,
 nan: 1,
 100639.0: 10,
 50444.0: 225,
 647365.0: 84,
 671174.0: 6,
 330892.0: 43,
 145774.0: 104,
 742385.0: 515,
 679574.0: 55,
 305383.0: 344,
 478954.0: 668,
 691557.0: 10,
 816627.0: 2043,
 531321.0: 5,
 531361.0: 2,
 43323.0: 78,
 11856.0: 8,
 59465.0: 638,
 412890.0: 1,
 19558.0: 1177,
 508914.0: 8,
 39868.0: 20,
 106281.0: 74,
 630412.0: 8,
 576166.0: 49,
 630281.0: 18,
 49191.0: 18,
 627468.0: 20,
 15021.0: 2,
 491499.0: 12,
 265621.0: 32,
 225805.0: 34,
 81720.0: 2,
 81714.0: 8,
 82281.0: 2,
 58655.0: 23,
 130640.0: 10,
 92370.0: 1,
 748502.0: 3,
 232336.0: 70,
 129299.0: 201,
 16450.0: 164,
 56078.0: 1,
 149592.0: 65,
 75296.0: 181,
 46285.0: 3,
 666131.0: 23,
 28973.0: 24,
 554608.0: 68,
 38584.0: 4,
 40515.0: 9,
 36772.0: 3,
 36767.0: 3,
 836919.0: 393,
 831037.0: 66,
 58387.0: 5,
 753719.0: 119,
 456449.0: 15,
 73873.0: 261,
 59850.0: 10,
 89607.0: 2,
 757802.0: 218,
 656319.0: 10,
 808024.0: 2,
 456901.0: 1,
 785146.0: 2,
 768368.0: 62,
 840615.0: 186,
 771295.0: 6,
 583705.0: 540,
 505657.0: 42,
 359636.0: 24,
 730301.0: 1,
 834056.0: 39,
 692624.0: 135,
 717058.0: 725,
 623512.0: 163,
 140223.0: 8,
 23290.0: 48,
 174192.0: 36,
 38880.0: 1,
 140488.0: 5,
 147239.0: 20,
 140602.0: 13,
 815954.0: 218,
 103039.0: 237,
 23624.0: 7,
 548692.0: 16,
 620961.0: 24,
 5134.0: 188,
 742747.0: 312,
 641364.0: 68,
 372087.0: 17,
 54142.0: 4,
 552980.0: 147,
 424423.0: 28,
 836458.0: 318,
 663942.0: 1,
 236729.0: 4,
 690472.0: 139,
 717429.0: 1,
 455705.0: 1,
 434652.0: 1,
 725352.0: 1,
 702004.0: 47,
 89301.0: 1,
 648985.0: 40,
 571447.0: 8,
 343797.0: 8,
 459584.0: 66,
 217509.0: 17,
 105209.0: 40,
 346628.0: 80,
 836059.0: 172,
 795460.0: 1115,
 457708.0: 92,
 473835.0: 12,
 557779.0: 29,
 429065.0: 4,
 544453.0: 23,
 435117.0: 15,
 546593.0: 7,
 737743.0: 3667,
 155303.0: 5,
 222738.0: 10,
 98549.0: 6,
 229576.0: 3,
 450965.0: 7,
 159642.0: 3,
 753344.0: 1496,
 299904.0: 57,
 153647.0: 2,
 203978.0: 9,
 211806.0: 10,
 277005.0: 1,
 521506.0: 33,
 179892.0: 1,
 602338.0: 26,
 602337.0: 27,
 132831.0: 1,
 775572.0: 5,
 261021.0: 63,
 1089.0: 10,
 261026.0: 93,
 261028.0: 12,
 261031.0: 46,
 133184.0: 102,
 158680.0: 80,
 842243.0: 5,
 380717.0: 66,
 149968.0: 17,
 170074.0: 24,
 114202.0: 7,
 480402.0: 2,
 68794.0: 2,
 50913.0: 1,
 68792.0: 1,
 86657.0: 1,
 550829.0: 12,
 92782.0: 2,
 86711.0: 6,
 804919.0: 4,
 737761.0: 78,
 838731.0: 50,
 739294.0: 153,
 587661.0: 11,
 60116.0: 23,
 188590.0: 22,
 1965.0: 5633,
 579367.0: 10,
 300640.0: 2,
 190054.0: 14,
 208263.0: 15,
 608146.0: 19,
 705655.0: 30,
 300639.0: 2,
 300629.0: 1,
 237399.0: 4,
 805021.0: 8,
 512231.0: 5,
 839100.0: 18,
 727063.0: 20,
 140769.0: 21,
 462808.0: 3,
 579373.0: 2,
 691978.0: 34,
 567502.0: 9,
 107177.0: 95,
 830502.0: 54,
 804859.0: 10,
 804856.0: 9,
 805016.0: 5,
 795588.0: 13,
 481039.0: 14,
 597580.0: 15,
 407262.0: 30,
 381794.0: 18,
 496044.0: 18,
 407631.0: 18,
 368102.0: 18,
 337490.0: 30,
 307578.0: 16,
 194958.0: 22,
 294878.0: 1,
 300747.0: 3,
 800648.0: 6,
 837392.0: 1021,
 700283.0: 66,
 832831.0: 14,
 680455.0: 17,
 627175.0: 2,
 580309.0: 16,
 64515.0: 3,
 72272.0: 91,
 589760.0: 39,
 237409.0: 2,
 454933.0: 12,
 740274.0: 6,
 718819.0: 16,
 670748.0: 19,
 425780.0: 8,
 648853.0: 4,
 4043.0: 93,
 524241.0: 3,
 259392.0: 11,
 43243.0: 11,
 841245.0: 52,
 629407.0: 17,
 629427.0: 2,
 72051.0: 129,
 32276.0: 125,
 26252.0: 11,
 782753.0: 5,
 378791.0: 17,
 586532.0: 2,
 85041.0: 6,
 619811.0: 8,
 57312.0: 2,
 29710.0: 38,
 49133.0: 2,
 26214.0: 15,
 658801.0: 124,
 442292.0: 16,
 377511.0: 145,
 847510.0: 31,
 577028.0: 3,
 710278.0: 38,
 832763.0: 16,
 352924.0: 233,
 432632.0: 3,
 377010.0: 52,
 4443.0: 7,
 236301.0: 5,
 716206.0: 23,
 457551.0: 18,
 352934.0: 320,
 186525.0: 1,
 712691.0: 210,
 608399.0: 1,
 259755.0: 21,
 158318.0: 42,
 640248.0: 1,
 689276.0: 1,
 536452.0: 9,
 293888.0: 1,
 675613.0: 1,
 572858.0: 154,
 845054.0: 43,
 28590.0: 3,
 120112.0: 6,
 181089.0: 2,
 544360.0: 439,
 112089.0: 9,
 257916.0: 4,
 249552.0: 2,
 257911.0: 1,
 625355.0: 1,
 554610.0: 16,
 546905.0: 182,
 132112.0: 6,
 221967.0: 92,
 132109.0: 5,
 132096.0: 3,
 242323.0: 1,
 65909.0: 63,
 548564.0: 89,
 86704.0: 122,
 589845.0: 84,
 222622.0: 2,
 72074.0: 123,
 788617.0: 56,
 65943.0: 146,
 753343.0: 9555,
 226063.0: 26,
 793493.0: 73,
 47718.0: 51,
 37927.0: 7,
 769093.0: 29,
 21573.0: 8,
 546347.0: 2,
 663750.0: 7,
 663753.0: 159,
 154222.0: 26,
 476570.0: 12,
 543682.0: 46,
 397628.0: 4,
 712211.0: 23,
 406781.0: 29,
 4111.0: 117,
 569156.0: 18,
 332743.0: 14,
 412201.0: 274,
 477231.0: 7,
 278002.0: 71,
 390125.0: 645,
 669546.0: 209,
 669539.0: 46,
 357747.0: 4,
 350227.0: 91,
 659357.0: 66,
 664113.0: 270,
 351545.0: 5,
 825472.0: 3,
 805055.0: 2,
 288630.0: 68,
 431417.0: 8,
 822904.0: 157,
 792071.0: 1,
 167864.0: 13,
 423055.0: 148,
 259259.0: 1,
 415244.0: 333,
 572458.0: 8,
 452191.0: 143,
 485877.0: 133,
 ...}

In [21]:
cntsort = sorted(cnt.items(), key = lambda x:x[1], reverse=True)
print(cntsort[:10])

[(753343.0, 9555), (748308.0, 6230), (1965.0, 5633), (755981.0, 4335), (768597.0, 3998), (706924.0, 3745), (737743.0, 3667), (658747.0, 3555), (554713.0, 3315), (692709.0, 3271)]

In [22]:
data1 = ddf[ddf['PD_C'] == 753343 ]
data2 = ddf[ddf['PD_C'] == 1965 ]
data3 = ddf[ddf['PD_C'] == 748308 ]
data4 = ddf[ddf['PD_C'] == 755981 ]
data5 = ddf[ddf['PD_C'] == 768597 ]
data6 = ddf[ddf['PD_C'] == 706924 ]
data7 = ddf[ddf['PD_C'] == 737743 ]
data8 = ddf[ddf['PD_C'] == 658747 ]
data9 = ddf[ddf['PD_C'] == 826313 ]
data10 = ddf[ddf['PD_C'] == 554713 ]


data1 = data1[:1]
data1
data2 = data2[:1]
data3 = data3[:1]
data4 = data4[:1]
data5 = data5[:1]
data6 = data6[:1]
data7 = data7[:1]
data8 = data8[:1]
data9 = data9[:1]
data10 = data10[:1]

In [23]:
rank = data1
rank = rank.append(data2)
rank = rank.append(data3)
rank = rank.append(data4)
rank = rank.append(data5)
rank = rank.append(data6)
rank = rank.append(data7)
rank = rank.append(data8)
rank = rank.append(data9)
rank = rank.append(data10)

In [24]:
#rank = rank.drop(['CLNT_ID', 'DVC_CTG_NM'],axis=1)
rank

,SESS_ID,DVC_CTG_NM,CLNT_GENDER,CLNT_AGE,PD_C,PD_ADD_NM,PD_BRA_NM,PD_NM,CLAC1_NM,CLAC3_NM
1243,3445541,mobile,M,20.0,753343.0,상품명:06_CDBDRM52CB|사이즈:105 / 1개,코데즈컴바인 이너웨어,남성 드로즈 15종 택1 - 06_CCCDRM92WN / 105,속옷/양말/홈웨어,남성팬티
1080,1939959,mobile,F,30.0,1965.0,1개,정관장,홍삼정 에브리타임(10mlx30포) / 롯데백화점 본점 출고 / 정관장,건강식품,홍삼액
90,10042935,mobile,F,20.0,748308.0,색상:릴렌트리슬리 레드 / 1개,맥,립스틱 - 온 홀드,화장품/뷰티케어,립스틱/립라이너
294,1236426,mobile,F,30.0,755981.0,선택:홍삼정진에브리타임 / 1개,정관장.,홍삼정진(進) 에브리타임 10mx30포 + 쇼핑백 증정 - 홍삼정진에브리타임,건강식품,홍삼/인삼혼합세트
9507,10330642,mobile,F,30.0,768597.0,상품명:009)EHD5666|사이즈:100 / 1개,엘르이너웨어,패턴/솔리드 남성 드로즈 30종 택1 - 004)EHD5671 / 100,속옷/양말/홈웨어,남성팬티
2557,6265326,mobile,F,30.0,706924.0,상품명:아몬드 브리즈 오리지널 190mlx24팩 / 2개,매일,아몬드브리즈 오리지널 190ml 24팩 - 아몬드 브리즈 오리지널 190mlx24팩,음료,일반두유
1027,8665549,mobile,F,30.0,737743.0,색상:20 / 1개,입생로랑,[리필] 르 쿠션 엉크르 드 뽀 SPF23 PA++ 14g - 40,화장품/뷰티케어,BB/파운데이션/컴팩트류
132,7410483,mobile,F,40.0,658747.0,색상:02크레이지 탠저린 / 1개,입생로랑,따뚜아쥬 꾸뛰르 타투틴트 - 15바이올렛 컨빅션,화장품/뷰티케어,블러셔/쉐이딩/하이라이터
4014,5124225,mobile,F,30.0,826313.0,1개,웅진식품,풀무원 생수 2L x 6페트,음료,생수
1323,5093939,mobile,F,40.0,554713.0,선택:23.자동차 / 1개,플레이비츠,3D 지비츠 - 크록스악세사리 - 01.흰고래-꼬리,출산/육아용품,출산/신생아용품세트

### desktop

In [25]:
cnt = {}

for data in desktop:
    try: cnt[data] +=1
    except: cnt[data] = 1
cnt

{nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 205923.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 581203.0: 2,
 658803.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 837797.0: 8,
 430471.0: 1,
 215222.0: 1,
 670224.0: 2,
 147668.0: 1,
 247465.0: 3,
 176986.0: 1,
 151265.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 90318.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 697397.0: 4,
 nan: 1,
 nan: 1,
 nan: 1,
 704816.0: 1,
 222299.0: 2,
 304975.0: 1,
 218968.0: 4,
 379177.0: 2,
 nan: 1,
 nan: 1,
 366247.0: 1,
 569207.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 403206.0: 1,
 nan: 1,
 nan: 1,
 102149.0: 11,
 nan: 1,
 716270.0: 1,
 379078.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 835600.0: 2,
 697967.0: 2,
 540685.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 827304.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 173268.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 468856.0: 5,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 375056.0: 1,
 543705.0: 2,
 nan: 1,
 717283.0: 4,
 625840.0: 1,
 208331.0: 1,
 nan: 1,
 nan: 1,
 211872.0: 2,
 321355.0: 6,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 840633.0: 21,
 nan: 1,
 nan: 1,
 596842.0: 3,
 nan: 1,
 495220.0: 7,
 599767.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 190044.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 195074.0: 19,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 293451.0: 1,
 544006.0: 1,
 544005.0: 2,
 nan: 1,
 nan: 1,
 518100.0: 5,
 368622.0: 2,
 nan: 1,
 718416.0: 90,
 517795.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 629201.0: 3,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 730604.0: 1,
 520691.0: 4,
 113803.0: 2,
 612277.0: 2,
 nan: 1,
 nan: 1,
 520575.0: 1,
 743012.0: 1,
 461402.0: 3,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 417361.0: 1,
 324958.0: 11,
 231898.0: 12,
 694230.0: 11,
 145053.0: 4,
 nan: 1,
 nan: 1,
 453746.0: 1,
 554835.0: 1,
 728624.0: 1,
 408847.0: 1,
 nan: 1,
 nan: 1,
 549986.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 824990.0: 26,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 136000.0: 1,
 135988.0: 1,
 144227.0: 1,
 135986.0: 1,
 135964.0: 1,
 144116.0: 1,
 128427.0: 1,
 135776.0: 1,
 135720.0: 1,
 nan: 1,
 286694.0: 1,
 nan: 1,
 nan: 1,
 118121.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 810348.0: 7,
 663000.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 305640.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 629128.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 518940.0: 2,
 498816.0: 1,
 240307.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 702029.0: 4,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 61430.0: 2,
 142599.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 356588.0: 5,
 268185.0: 3,
 820324.0: 26,
 nan: 1,
 736957.0: 40,
 681467.0: 10,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 38937.0: 6,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 778498.0: 1,
 631290.0: 1,
 nan: 1,
 nan: 1,
 590408.0: 4,
 590412.0: 18,
 426392.0: 4,
 nan: 1,
 nan: 1,
 660574.0: 1,
 741838.0: 78,
 572701.0: 7,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 707211.0: 5,
 nan: 1,
 nan: 1,
 nan: 1,
 58491.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 750001.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 758880.0: 1,
 79193.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 711379.0: 3,
 251435.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 814540.0: 39,
 736960.0: 9,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 585202.0: 1,
 807138.0: 3,
 nan: 1,
 nan: 1,
 771766.0: 7,
 579732.0: 1,
 592167.0: 4,
 680341.0: 1,
 620367.0: 9,
 759969.0: 3,
 596788.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 744821.0: 10,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 221052.0: 1,
 594181.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 600941.0: 1,
 623453.0: 1,
 nan: 1,
 366379.0: 12,
 338251.0: 3,
 nan: 1,
 nan: 1,
 651520.0: 2,
 544851.0: 4,
 720819.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 368850.0: 1,
 358122.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 732222.0: 28,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 548575.0: 4,
 nan: 1,
 761008.0: 1,
 240909.0: 2,
 254866.0: 2,
 8783.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 411324.0: 4,
 761532.0: 16,
 543260.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 6658.0: 2,
 812803.0: 49,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 656643.0: 2,
 339592.0: 1,
 294496.0: 6,
 294482.0: 3,
 205843.0: 1,
 241689.0: 1,
 nan: 1,
 515210.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 558495.0: 1,
 558260.0: 3,
 558568.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 96896.0: 1,
 44674.0: 1,
 nan: 1,
 nan: 1,
 357068.0: 25,
 nan: 1,
 nan: 1,
 nan: 1,
 263826.0: 5,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 328782.0: 10,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 666329.0: 1,
 216117.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 815018.0: 3,
 838314.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 195117.0: 1,
 nan: 1,
 nan: 1,
 789543.0: 2,
 96487.0: 15,
 nan: 1,
 780891.0: 1,
 666213.0: 2,
 792606.0: 1,
 820881.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 38345.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 527085.0: 7,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 562585.0: 8,
 nan: 1,
 620560.0: 1,
 621553.0: 1,
 616057.0: 1,
 737743.0: 107,
 nan: 1,
 nan: 1,
 321423.0: 1,
 381701.0: 1,
 nan: 1,
 419973.0: 3,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 486178.0: 1,
 703329.0: 1,
 484673.0: 2,
 327375.0: 10,
 nan: 1,
 nan: 1,
 nan: 1,
 813025.0: 1,
 nan: 1,
 622851.0: 1,
 275910.0: 1,
 nan: 1,
 522659.0: 1,
 501968.0: 3,
 nan: 1,
 nan: 1,
 nan: 1,
 754556.0: 6,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 559330.0: 2,
 552496.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 163669.0: 1,
 nan: 1,
 187474.0: 1,
 217533.0: 2,
 493874.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 422717.0: 3,
 797501.0: 1,
 420029.0: 15,
 nan: 1,
 1239.0: 5,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 692709.0: 97,
 nan: 1,
 238140.0: 1,
 238142.0: 1,
 470812.0: 4,
 723246.0: 1,
 744282.0: 2,
 570726.0: 1,
 546969.0: 2,
 277964.0: 5,
 433225.0: 4,
 825077.0: 1,
 339945.0: 5,
 583852.0: 33,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 827606.0: 4,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 508.0: 11,
 222357.0: 1,
 776639.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 281704.0: 1,
 320566.0: 1,
 417720.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 677322.0: 3,
 488743.0: 1,
 819696.0: 2,
 637366.0: 1,
 816086.0: 1,
 664343.0: 2,
 729099.0: 2,
 615968.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 666544.0: 1,
 686989.0: 2,
 791440.0: 3,
 376562.0: 2,
 805226.0: 1,
 775346.0: 5,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 529841.0: 1,
 nan: 1,
 757853.0: 1,
 422247.0: 2,
 422249.0: 1,
 448172.0: 2,
 427992.0: 1,
 nan: 1,
 575495.0: 2,
 576388.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 764261.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 60697.0: 3,
 467969.0: 1,
 299350.0: 1,
 55856.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 379579.0: 2,
 55785.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 610058.0: 3,
 nan: 1,
 295543.0: 2,
 nan: 1,
 765889.0: 1,
 334836.0: 3,
 698954.0: 1,
 340453.0: 4,
 nan: 1,
 nan: 1,
 145512.0: 1,
 nan: 1,
 nan: 1,
 28127.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 32744.0: 1,
 78160.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 755226.0: 1,
 818809.0: 1,
 697007.0: 1,
 846347.0: 1,
 40008.0: 1,
 110182.0: 1,
 136143.0: 1,
 nan: 1,
 690858.0: 1,
 nan: 1,
 nan: 1,
 160863.0: 2,
 780727.0: 8,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 339813.0: 14,
 288845.0: 11,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 330340.0: 1,
 nan: 1,
 411405.0: 2,
 508631.0: 1,
 643668.0: 1,
 nan: 1,
 723704.0: 2,
 731040.0: 2,
 718721.0: 4,
 405224.0: 2,
 nan: 1,
 nan: 1,
 nan: 1,
 825848.0: 9,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 165335.0: 2,
 nan: 1,
 436128.0: 2,
 nan: 1,
 479999.0: 3,
 442693.0: 9,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 500024.0: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 622689.0: 10,
 nan: 1,
 nan: 1,
 444120.0: 2,
 nan: 1,
 ...}

In [26]:
cntsort = sorted(cnt.items(), key = lambda x:x[1], reverse=True)
print(cntsort[:10])

[(753343.0, 251), (748308.0, 199), (1965.0, 182), (768597.0, 144), (755981.0, 115), (839528.0, 110), (737743.0, 107), (706924.0, 106), (658747.0, 100), (692709.0, 97)]

In [27]:
data1 = ddf[ddf['PD_C'] == 50185 ]
data2 = ddf[ddf['PD_C'] == 156001 ]
data3 = ddf[ddf['PD_C'] == 284460 ]
data4 = ddf[ddf['PD_C'] == 325662 ]
data5 = ddf[ddf['PD_C'] == 161207 ]
data6 = ddf[ddf['PD_C'] == 15027 ]
data7 = ddf[ddf['PD_C'] == 843603 ]
data8 = ddf[ddf['PD_C'] == 241322 ]
data9 = ddf[ddf['PD_C'] == 1965 ]
data10 = ddf[ddf['PD_C'] == 248086 ]


data1 = data1[:1]
data1
data2 = data2[:1]
data3 = data3[:1]
data4 = data4[:1]
data5 = data5[:1]
data6 = data6[:1]
data7 = data7[:1]
data8 = data8[:1]
data9 = data9[:1]
data10 = data10[:1]

In [28]:
rank = data1
rank = rank.append(data2)
rank = rank.append(data3)
rank = rank.append(data4)
rank = rank.append(data5)
rank = rank.append(data6)
rank = rank.append(data7)
rank = rank.append(data8)
rank = rank.append(data9)
rank = rank.append(data10)

In [29]:
rank

,SESS_ID,DVC_CTG_NM,CLNT_GENDER,CLNT_AGE,PD_C,PD_ADD_NM,PD_BRA_NM,PD_NM,CLAC1_NM,CLAC3_NM
2749,1261692,mobile,F,20.0,50185.0,타입:세트/ / 1개,설화수,[G]자음 기초2종 기획세트(+상품권1만원증정) - 세트/,화장품/뷰티케어,스킨케어세트
17756,903170,mobile,F,40.0,156001.0,타입:세트 / 1개,설화수,[C]순행클렌징폼 세트 - 세트,화장품/뷰티케어,스킨케어세트
6764,7168594,mobile,F,30.0,284460.0,타입:세트 / 3개,설화수,[B]자음 기초2종 기획세트 - 세트,화장품/뷰티케어,스킨케어세트
31413,5339266,mobile,F,40.0,325662.0,1개,라네즈,단독 미니포어 더블 클리어링 클렌징폼 150mlx2,화장품/뷰티케어,페이셜클렌저
334,5367119,mobile,F,30.0,161207.0,타입:세트 / 1개,설화수,[예약출고7/18][G]자음 기초2종 세트 - 세트,화장품/뷰티케어,스킨케어세트
1364,200402,mobile,F,40.0,15027.0,타입:세트. / 1개,설화수,[P9]자음 기초2종 기획세트(+1만원상품권) - _세트,화장품/뷰티케어,스킨케어세트
1812,7654468,mobile,F,40.0,843603.0,모델명:100매 10팩 캡형 / 1개,도담이,도담이 100매 10팩 캡형 도톰한 물티슈 평량 50g - 100매 10팩 캡형,출산/육아용품,유아용물티슈
104269,3578394,mobile,F,40.0,241322.0,색상:화이트/블랙(0190)|사이즈:235 / 1개,아식스타이거,젤-포인트 겟터 MT / GEL-PTG MT / 311837044-0190 HL7W...,스포츠패션,여성런닝/트레이닝화
1080,1939959,mobile,F,30.0,1965.0,1개,정관장,홍삼정 에브리타임(10mlx30포) / 롯데백화점 본점 출고 / 정관장,건강식품,홍삼액
7189,7885753,mobile,F,30.0,248086.0,타입:세트 / 1개,설화수,[6상품권]자음 기초2종 기획세트 - 세트,화장품/뷰티케어,스킨케어세트

In [31]:
cnt = {}

for data in tablet:
    try: cnt[data] +=1
    except: cnt[data] = 1
cnt

{836872.0: 5,
 683002.0: 2,
 5077.0: 1,
 674766.0: 3,
 nan: 1,
 nan: 1,
 745723.0: 1,
 745719.0: 1,
 722399.0: 16,
 583367.0: 4,
 431079.0: 1,
 140176.0: 1,
 808912.0: 1,
 150955.0: 1,
 635882.0: 2,
 555894.0: 1,
 586510.0: 1,
 544728.0: 1,
 458163.0: 1,
 213783.0: 1,
 527309.0: 1,
 231294.0: 1,
 706742.0: 2,
 823284.0: 1,
 320691.0: 1,
 837066.0: 1,
 275871.0: 1,
 61616.0: 1,
 646605.0: 1,
 534254.0: 1,
 355922.0: 2,
 377501.0: 2,
 287790.0: 1,
 585130.0: 1,
 217569.0: 1,
 400985.0: 1,
 727406.0: 1,
 583291.0: 2,
 545717.0: 2,
 584508.0: 1,
 695822.0: 1,
 582785.0: 1,
 573079.0: 4,
 801434.0: 1,
 812389.0: 4,
 576089.0: 1,
 412159.0: 1,
 4662.0: 1,
 662992.0: 1,
 775285.0: 2,
 317137.0: 1,
 266155.0: 1,
 302645.0: 1,
 313777.0: 3,
 805994.0: 1,
 815954.0: 4,
 787143.0: 1,
 831946.0: 1,
 755981.0: 17,
 824530.0: 1,
 830096.0: 1,
 804929.0: 1,
 75914.0: 1,
 224837.0: 1,
 628522.0: 1,
 409468.0: 1,
 189839.0: 4,
 146870.0: 1,
 220032.0: 2,
 147235.0: 2,
 771797.0: 1,
 169790.0: 1,
 189872.0: 2,
 174015.0: 1,
 828885.0: 2,
 189871.0: 2,
 4842.0: 4,
 160462.0: 1,
 328004.0: 2,
 605188.0: 1,
 422233.0: 1,
 828882.0: 2,
 124755.0: 1,
 115066.0: 1,
 741769.0: 1,
 826455.0: 6,
 151402.0: 1,
 263803.0: 1,
 219091.0: 2,
 298753.0: 1,
 399209.0: 2,
 295867.0: 1,
 81916.0: 1,
 147060.0: 1,
 312029.0: 1,
 261140.0: 1,
 601379.0: 1,
 146538.0: 1,
 248481.0: 2,
 423368.0: 1,
 561731.0: 2,
 118459.0: 1,
 636436.0: 1,
 629968.0: 1,
 529131.0: 2,
 578543.0: 1,
 72126.0: 1,
 92093.0: 1,
 282860.0: 1,
 750436.0: 1,
 808510.0: 1,
 551159.0: 1,
 794351.0: 4,
 728017.0: 1,
 358529.0: 1,
 358432.0: 1,
 613164.0: 2,
 673146.0: 1,
 364084.0: 1,
 480032.0: 1,
 480717.0: 1,
 349636.0: 2,
 780617.0: 1,
 601772.0: 2,
 615352.0: 1,
 470967.0: 1,
 840987.0: 1,
 528736.0: 1,
 315332.0: 1,
 384711.0: 1,
 786797.0: 1,
 326004.0: 1,
 273988.0: 1,
 273996.0: 1,
 514895.0: 1,
 243676.0: 1,
 25217.0: 1,
 nan: 1,
 626167.0: 1,
 568254.0: 1,
 402508.0: 1,
 426373.0: 1,
 508440.0: 1,
 246310.0: 2,
 240410.0: 1,
 229546.0: 1,
 402108.0: 1,
 793690.0: 2,
 222721.0: 1,
 492127.0: 1,
 282300.0: 1,
 682550.0: 1,
 839908.0: 1,
 768036.0: 1,
 453463.0: 3,
 753706.0: 1,
 279920.0: 2,
 744342.0: 1,
 671066.0: 1,
 542906.0: 2,
 683077.0: 2,
 731704.0: 1,
 846685.0: 1,
 682424.0: 1,
 215124.0: 1,
 769556.0: 3,
 810197.0: 1,
 779172.0: 2,
 840295.0: 1,
 715896.0: 2,
 731913.0: 1,
 630889.0: 3,
 834823.0: 3,
 113338.0: 1,
 5235.0: 1,
 773736.0: 1,
 787124.0: 1,
 619870.0: 1,
 838963.0: 1,
 682630.0: 1,
 766109.0: 2,
 533473.0: 1,
 287833.0: 1,
 806779.0: 1,
 467487.0: 6,
 nan: 1,
 nan: 1,
 185431.0: 8,
 191850.0: 1,
 837745.0: 2,
 198896.0: 1,
 463271.0: 1,
 562019.0: 1,
 548883.0: 2,
 635617.0: 1,
 680194.0: 1,
 243285.0: 1,
 243436.0: 1,
 248003.0: 2,
 370537.0: 1,
 362984.0: 1,
 520487.0: 1,
 443182.0: 1,
 373526.0: 2,
 575197.0: 1,
 805328.0: 1,
 753403.0: 13,
 680513.0: 4,
 611670.0: 1,
 89220.0: 1,
 89211.0: 1,
 368616.0: 3,
 744920.0: 1,
 459773.0: 1,
 520537.0: 3,
 nan: 1,
 469413.0: 2,
 413735.0: 1,
 413724.0: 1,
 469415.0: 2,
 390731.0: 1,
 625230.0: 4,
 66427.0: 1,
 316840.0: 1,
 149424.0: 1,
 674090.0: 2,
 595219.0: 1,
 509114.0: 5,
 792016.0: 1,
 785049.0: 1,
 637501.0: 1,
 711129.0: 1,
 512550.0: 1,
 570565.0: 4,
 708083.0: 4,
 709466.0: 2,
 281467.0: 1,
 2436.0: 1,
 209390.0: 1,
 668782.0: 1,
 436138.0: 1,
 480284.0: 1,
 476752.0: 1,
 836101.0: 1,
 539377.0: 1,
 748380.0: 1,
 642363.0: 9,
 817108.0: 1,
 2141.0: 1,
 505351.0: 1,
 791664.0: 2,
 442755.0: 1,
 341690.0: 1,
 399811.0: 2,
 537948.0: 1,
 106691.0: 1,
 74104.0: 1,
 285960.0: 1,
 133514.0: 1,
 449238.0: 1,
 545537.0: 2,
 692902.0: 1,
 366226.0: 1,
 771897.0: 1,
 276366.0: 1,
 276324.0: 1,
 829980.0: 1,
 290571.0: 1,
 804726.0: 2,
 790568.0: 1,
 102876.0: 1,
 138790.0: 1,
 137781.0: 2,
 113475.0: 1,
 113354.0: 1,
 184492.0: 1,
 690121.0: 1,
 411899.0: 1,
 437411.0: 1,
 536403.0: 1,
 517718.0: 2,
 228106.0: 1,
 687524.0: 1,
 567333.0: 1,
 229172.0: 1,
 714067.0: 2,
 712535.0: 2,
 342385.0: 1,
 134326.0: 1,
 812548.0: 1,
 824142.0: 2,
 465867.0: 2,
 770420.0: 1,
 813456.0: 2,
 842514.0: 1,
 255667.0: 1,
 126600.0: 1,
 342866.0: 1,
 160571.0: 1,
 276568.0: 1,
 767730.0: 1,
 809108.0: 10,
 688649.0: 2,
 833515.0: 8,
 422793.0: 1,
 95550.0: 1,
 636771.0: 1,
 718631.0: 1,
 323322.0: 1,
 521086.0: 2,
 503921.0: 1,
 101536.0: 2,
 nan: 1,
 nan: 1,
 737052.0: 1,
 420864.0: 1,
 177577.0: 2,
 nan: 1,
 648243.0: 1,
 319770.0: 1,
 317884.0: 1,
 774819.0: 1,
 686784.0: 2,
 566768.0: 1,
 552794.0: 1,
 748308.0: 30,
 430040.0: 1,
 37347.0: 5,
 70830.0: 1,
 398993.0: 1,
 772191.0: 1,
 604857.0: 1,
 666727.0: 1,
 683783.0: 1,
 25653.0: 1,
 24714.0: 1,
 28652.0: 1,
 455230.0: 2,
 674762.0: 1,
 nan: 1,
 728821.0: 1,
 480423.0: 1,
 480415.0: 1,
 480294.0: 1,
 218658.0: 1,
 620528.0: 1,
 737770.0: 9,
 570077.0: 1,
 729234.0: 4,
 732251.0: 1,
 557313.0: 1,
 575264.0: 1,
 53093.0: 1,
 174972.0: 1,
 370430.0: 3,
 405304.0: 1,
 282488.0: 5,
 261343.0: 1,
 168516.0: 1,
 175819.0: 1,
 179345.0: 3,
 206901.0: 1,
 190745.0: 1,
 466537.0: 1,
 666437.0: 2,
 713678.0: 2,
 722899.0: 1,
 588474.0: 3,
 67994.0: 1,
 376104.0: 1,
 376111.0: 1,
 376112.0: 1,
 202182.0: 1,
 202186.0: 1,
 165831.0: 2,
 495790.0: 4,
 131768.0: 1,
 758037.0: 1,
 758036.0: 1,
 565443.0: 1,
 nan: 1,
 47297.0: 1,
 298402.0: 2,
 nan: 1,
 nan: 1,
 418244.0: 1,
 445256.0: 1,
 427975.0: 1,
 nan: 1,
 599226.0: 1,
 509199.0: 1,
 579994.0: 1,
 509190.0: 1,
 611702.0: 1,
 509193.0: 1,
 nan: 1,
 658747.0: 17,
 475303.0: 6,
 741193.0: 2,
 685371.0: 8,
 781943.0: 2,
 494817.0: 1,
 772107.0: 1,
 812578.0: 2,
 811018.0: 6,
 54443.0: 1,
 812055.0: 1,
 438241.0: 1,
 757334.0: 1,
 361140.0: 1,
 525219.0: 1,
 494878.0: 1,
 377498.0: 1,
 836843.0: 1,
 577046.0: 1,
 288459.0: 1,
 511903.0: 2,
 nan: 1,
 nan: 1,
 478814.0: 1,
 68986.0: 1,
 430833.0: 1,
 658338.0: 1,
 316317.0: 1,
 681356.0: 2,
 842498.0: 1,
 807457.0: 2,
 803598.0: 1,
 568562.0: 1,
 330640.0: 1,
 105004.0: 1,
 431635.0: 6,
 494255.0: 1,
 327366.0: 1,
 574978.0: 1,
 642694.0: 1,
 638339.0: 1,
 406135.0: 1,
 738044.0: 5,
 399186.0: 3,
 454632.0: 1,
 755953.0: 1,
 465521.0: 1,
 280085.0: 3,
 772728.0: 1,
 786565.0: 1,
 817152.0: 2,
 428365.0: 1,
 479256.0: 1,
 53780.0: 1,
 577253.0: 1,
 751388.0: 1,
 168233.0: 1,
 776422.0: 4,
 418079.0: 1,
 413327.0: 1,
 846659.0: 1,
 705906.0: 1,
 451070.0: 1,
 536208.0: 1,
 266139.0: 1,
 219315.0: 1,
 219311.0: 1,
 219319.0: 1,
 755323.0: 2,
 210621.0: 1,
 139380.0: 2,
 139387.0: 1,
 784922.0: 1,
 296444.0: 2,
 304264.0: 1,
 833179.0: 3,
 7361.0: 2,
 202598.0: 1,
 202595.0: 1,
 683746.0: 1,
 210943.0: 3,
 209641.0: 3,
 211884.0: 2,
 202596.0: 1,
 219601.0: 1,
 133719.0: 2,
 825999.0: 1,
 693329.0: 1,
 780999.0: 1,
 164547.0: 2,
 200456.0: 1,
 106122.0: 1,
 674144.0: 2,
 525393.0: 1,
 668760.0: 2,
 669508.0: 1,
 669567.0: 1,
 281011.0: 2,
 80762.0: 1,
 106065.0: 3,
 247448.0: 1,
 106069.0: 5,
 159008.0: 1,
 397706.0: 1,
 158950.0: 1,
 428318.0: 1,
 659383.0: 2,
 104003.0: 2,
 823883.0: 1,
 682177.0: 1,
 835495.0: 4,
 584675.0: 1,
 705322.0: 1,
 259446.0: 3,
 378004.0: 5,
 287637.0: 1,
 679574.0: 2,
 536650.0: 1,
 706814.0: 6,
 617564.0: 4,
 273990.0: 1,
 nan: 1,
 2067.0: 1,
 nan: 1,
 260978.0: 1,
 388321.0: 1,
 130608.0: 1,
 847053.0: 1,
 41571.0: 1,
 505537.0: 3,
 121206.0: 1,
 160093.0: 1,
 159796.0: 1,
 568517.0: 1,
 250349.0: 1,
 nan: 1,
 491841.0: 1,
 nan: 1,
 268476.0: 1,
 382320.0: 4,
 479790.0: 3,
 678538.0: 7,
 246102.0: 3,
 654340.0: 2,
 214380.0: 3,
 268731.0: 1,
 320517.0: 1,
 278419.0: 2,
 292071.0: 1,
 822466.0: 1,
 117951.0: 6,
 554713.0: 26,
 726395.0: 3,
 400375.0: 1,
 447899.0: 3,
 633215.0: 4,
 706924.0: 19,
 772365.0: 10,
 224302.0: 1,
 641845.0: 1,
 338566.0: 1,
 704268.0: 1,
 235334.0: 1,
 699623.0: 2,
 150417.0: 1,
 733305.0: 1,
 349685.0: 3,
 147771.0: 1,
 609756.0: 1,
 722193.0: 1,
 750713.0: 1,
 82713.0: 1,
 133984.0: 1,
 165621.0: 2,
 531238.0: 1,
 38116.0: 1,
 126410.0: 1,
 253766.0: 2,
 286401.0: 1,
 410892.0: 1,
 798555.0: 1,
 688353.0: 1,
 359215.0: 2,
 684267.0: 1,
 546845.0: 4,
 452496.0: 2,
 354500.0: 1,
 410705.0: 1,
 410718.0: 1,
 288168.0: 2,
 582118.0: 1,
 447221.0: 7,
 555580.0: 1,
 588998.0: 1,
 630792.0: 1,
 461273.0: 1,
 485130.0: 1,
 746306.0: 1,
 739564.0: 1,
 544524.0: 1,
 629134.0: 1,
 769781.0: 2,
 769772.0: 1,
 580035.0: 4,
 740975.0: 1,
 245711.0: 1,
 42549.0: 1,
 54997.0: 1,
 38709.0: 1,
 637467.0: 1,
 637469.0: 1,
 72339.0: 2,
 318301.0: 1,
 551327.0: 1,
 426817.0: 1,
 565182.0: 1,
 417528.0: 1,
 76222.0: 1,
 261828.0: 3,
 781899.0: 1,
 679160.0: 2,
 210416.0: 3,
 313683.0: 2,
 nan: 1,
 nan: 1,
 674860.0: 5,
 20771.0: 1,
 829342.0: 1,
 184770.0: 1,
 537338.0: 1,
 250159.0: 1,
 423262.0: 5,
 300954.0: 1,
 711938.0: 1,
 323792.0: 2,
 247329.0: 2,
 669572.0: 5,
 345333.0: 1,
 836094.0: 2,
 684929.0: 2,
 388664.0: 1,
 703696.0: 1,
 568471.0: 2,
 558493.0: 1,
 773307.0: 1,
 nan: 1,
 81976.0: 1,
 98357.0: 1,
 352153.0: 1,
 329670.0: 2,
 324266.0: 1,
 763063.0: 1,
 130743.0: 1,
 nan: 1,
 346185.0: 3,
 430325.0: 1,
 nan: 1,
 327752.0: 1,
 327693.0: 1,
 358949.0: 1,
 327756.0: 1,
 337680.0: 1,
 337678.0: 1,
 826695.0: 3,
 802732.0: 1,
 587998.0: 1,
 837394.0: 1,
 215247.0: 1,
 494382.0: 1,
 300879.0: 2,
 754188.0: 1,
 436490.0: 1,
 508726.0: 1,
 584448.0: 2,
 587689.0: 1,
 383720.0: 2,
 525415.0: 1,
 715694.0: 3,
 799928.0: 2,
 507979.0: 1,
 296739.0: 1,
 138725.0: 1,
 282777.0: 1,
 161661.0: 1,
 753772.0: 1,
 6097.0: 1,
 6096.0: 1,
 142202.0: 1,
 840419.0: 1,
 220510.0: 1,
 nan: 1,
 nan: 1,
 637350.0: 1,
 96969.0: 1,
 695861.0: 1,
 498462.0: 1,
 792396.0: 2,
 nan: 1,
 nan: 1,
 589442.0: 1,
 nan: 1,
 nan: 1,
 316822.0: 1,
 102405.0: 2,
 126990.0: 1,
 181577.0: 1,
 625233.0: 1,
 96413.0: 1,
 292213.0: 1,
 323234.0: 1,
 349131.0: 1,
 284668.0: 1,
 383303.0: 2,
 397935.0: 1,
 387143.0: 1,
 448729.0: 3,
 170270.0: 1,
 121000.0: 1,
 229553.0: 1,
 780440.0: 1,
 392339.0: 2,
 351127.0: 1,
 760917.0: 1,
 824044.0: 1,
 177068.0: 1,
 539213.0: 1,
 269133.0: 1,
 473790.0: 1,
 564744.0: 1,
 756093.0: 1,
 652772.0: 2,
 nan: 1,
 168034.0: 1,
 7891.0: 2,
 629142.0: 3,
 213746.0: 1,
 781273.0: 3,
 781274.0: 1,
 741899.0: 1,
 503332.0: 1,
 766595.0: 1,
 701215.0: 1,
 428735.0: 1,
 284803.0: 1,
 392717.0: 1,
 1977.0: 2,
 584760.0: 1,
 600679.0: 1,
 781030.0: 1,
 771462.0: 1,
 809611.0: 1,
 780753.0: 1,
 785053.0: 1,
 723832.0: 1,
 819247.0: 1,
 518175.0: 3,
 168173.0: 1,
 590412.0: 3,
 819210.0: 3,
 489507.0: 1,
 737645.0: 1,
 193356.0: 2,
 305520.0: 1,
 172544.0: 1,
 1634.0: 2,
 140493.0: 1,
 695431.0: 1,
 235348.0: 1,
 496843.0: 1,
 671328.0: 2,
 393109.0: 8,
 632395.0: 1,
 710384.0: 2,
 472853.0: 1,
 237861.0: 1,
 400538.0: 1,
 381090.0: 1,
 335297.0: 1,
 256173.0: 1,
 280342.0: 1,
 145588.0: 1,
 411653.0: 1,
 712108.0: 1,
 706751.0: 1,
 199685.0: 1,
 317844.0: 1,
 334660.0: 1,
 404936.0: 1,
 429427.0: 1,
 250443.0: 1,
 nan: 1,
 276190.0: 2,
 618460.0: 1,
 730537.0: 2,
 1690.0: 2,
 375742.0: 1,
 843863.0: 2,
 827842.0: 1,
 430892.0: 4,
 431152.0: 1,
 474961.0: 1,
 601916.0: 1,
 402701.0: 1,
 539083.0: 1,
 581283.0: 1,
 785375.0: 1,
 720533.0: 1,
 nan: 1,
 398347.0: 1,
 737744.0: 7,
 694491.0: 1,
 nan: 1,
 263959.0: 1,
 268140.0: 1,
 279358.0: 1,
 263951.0: 1,
 546514.0: 1,
 293958.0: 1,
 271034.0: 1,
 635477.0: 2,
 399420.0: 1,
 211698.0: 2,
 459196.0: 1,
 239751.0: 1,
 272053.0: 1,
 140126.0: 1,
 439242.0: 1,
 134835.0: 2,
 404839.0: 1,
 148573.0: 1,
 445137.0: 1,
 115274.0: 1,
 353371.0: 1,
 5148.0: 2,
 703035.0: 1,
 583032.0: 5,
 378199.0: 1,
 154157.0: 1,
 491376.0: 1,
 647230.0: 2,
 615647.0: 2,
 485623.0: 1,
 493496.0: 1,
 586559.0: 1,
 737753.0: 3,
 838158.0: 5,
 729495.0: 1,
 762275.0: 1,
 570293.0: 1,
 173394.0: 1,
 173420.0: 1,
 168438.0: 1,
 154029.0: 1,
 518176.0: 2,
 570777.0: 1,
 730483.0: 1,
 707899.0: 1,
 378063.0: 1,
 285326.0: 1,
 730251.0: 4,
 779594.0: 1,
 154633.0: 1,
 139564.0: 1,
 797464.0: 1,
 607154.0: 1,
 788396.0: 1,
 281679.0: 1,
 333674.0: 3,
 327862.0: 2,
 258669.0: 1,
 288936.0: 1,
 360396.0: 2,
 729030.0: 1,
 166854.0: 2,
 6524.0: 2,
 277750.0: 1,
 373918.0: 1,
 813258.0: 1,
 831709.0: 1,
 492944.0: 1,
 689550.0: 4,
 826313.0: 10,
 405355.0: 1,
 586354.0: 1,
 699995.0: 2,
 361136.0: 1,
 481300.0: 5,
 150446.0: 1,
 160439.0: 1,
 769942.0: 1,
 294541.0: 2,
 145888.0: 1,
 525226.0: 4,
 447074.0: 2,
 603185.0: 1,
 533072.0: 1,
 791245.0: 1,
 736038.0: 1,
 217185.0: 1,
 768597.0: 21,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 nan: 1,
 337896.0: 2,
 343989.0: 2,
 832006.0: 3,
 398693.0: 7,
 641811.0: 1,
 846623.0: 1,
 793947.0: 1,
 470954.0: 1,
 173431.0: 2,
 156135.0: 2,
 755332.0: 3,
 334693.0: 1,
 840459.0: 2,
 845982.0: 1,
 149187.0: 1,
 380818.0: 1,
 519195.0: 1,
 724545.0: 1,
 178226.0: 1,
 588507.0: 1,
 55121.0: 1,
 382766.0: 1,
 621398.0: 1,
 746450.0: 1,
 295692.0: 1,
 485890.0: 1,
 494432.0: 1,
 358713.0: 1,
 506515.0: 1,
 311433.0: 1,
 794226.0: 5,
 557695.0: 1,
 752201.0: 3,
 471095.0: 1,
 187067.0: 1,
 242554.0: 1,
 136340.0: 1,
 637455.0: 1,
 279065.0: 1,
 274216.0: 1,
 389236.0: 5,
 682026.0: 1,
 835805.0: 5,
 107592.0: 8,
 58257.0: 1,
 40409.0: 1,
 638472.0: 2,
 736977.0: 1,
 67169.0: 1,
 837519.0: 1,
 24120.0: 1,
 362981.0: 1,
 133490.0: 1,
 649576.0: 1,
 185605.0: 1,
 362520.0: 1,
 361259.0: 1,
 129779.0: 1,
 146942.0: 1,
 517.0: 1,
 775834.0: 1,
 70304.0: 2,
 nan: 1,
 589629.0: 4,
 590953.0: 1,
 655035.0: 2,
 356729.0: 1,
 199279.0: 1,
 629646.0: 1,
 247816.0: 1,
 554022.0: 1,
 741613.0: 1,
 36634.0: 1,
 36446.0: 1,
 236190.0: 2,
 111554.0: 1,
 74997.0: 1,
 74930.0: 1,
 251134.0: 1,
 36647.0: 1,
 92343.0: 1,
 52791.0: 1,
 43242.0: 1,
 58845.0: 1,
 206850.0: 1,
 483630.0: 1,
 623754.0: 7,
 258058.0: 1,
 483632.0: 1,
 803437.0: 2,
 629305.0: 2,
 799777.0: 1,
 482292.0: 1,
 241516.0: 1,
 687390.0: 1,
 461083.0: 4,
 480247.0: 1,
 266444.0: 2,
 464216.0: 1,
 ...}

In [32]:
cntsort = sorted(cnt.items(), key = lambda x:x[1], reverse=True)
print(cntsort[:10])

[(748308.0, 30), (753343.0, 29), (614414.0, 29), (1965.0, 28), (554713.0, 26), (599659.0, 24), (161207.0, 23), (768597.0, 21), (804957.0, 20), (718416.0, 20)]

In [33]:
data1 = ddf[ddf['PD_C'] == 614414 ]
data2 = ddf[ddf['PD_C'] == 599659 ]
data3 = ddf[ddf['PD_C'] == 87928 ]
data4 = ddf[ddf['PD_C'] == 1965 ]
data5 = ddf[ddf['PD_C'] == 804957 ]
data6 = ddf[ddf['PD_C'] == 712821 ]
data7 = ddf[ddf['PD_C'] == 360544 ]
data8 = ddf[ddf['PD_C'] == 521517 ]
data9 = ddf[ddf['PD_C'] == 212326 ]
data10 = ddf[ddf['PD_C'] == 605088 ]

data1 = data1[:1]
data1
data2 = data2[:1]
data3 = data3[:1]
data4 = data4[:1]
data5 = data5[:1]
data6 = data6[:1]
data7 = data7[:1]
data8 = data8[:1]
data9 = data9[:1]
data10 = data10[:1]

In [34]:
rank = data1
rank = rank.append(data2)
rank = rank.append(data3)
rank = rank.append(data4)
rank = rank.append(data5)
rank = rank.append(data6)
rank = rank.append(data7)
rank = rank.append(data8)
rank = rank.append(data9)
rank = rank.append(data10)

In [35]:
rank

,SESS_ID,DVC_CTG_NM,CLNT_GENDER,CLNT_AGE,PD_C,PD_ADD_NM,PD_BRA_NM,PD_NM,CLAC1_NM,CLAC3_NM
90216,7771304,mobile,M,40.0,614414.0,1개,배스킨라빈스31,[기프티쇼]배스킨라빈스 부끄부끄 어피치,상품권,식음료모바일상품권
6774,606098,mobile,M,30.0,599659.0,선택:츄루참치+조갯살4P 10봉 / 1개,이나바,츄루 인기간식 혼합 구성 10봉 세트 - 츄루참치+연어4P 10봉,원예/애완,고양이간식
197396,2669033,mobile,F,30.0,87928.0,1개,투썸플레이스,[기프티쇼]투썸플레이스 초코롱 8개입,상품권,식음료모바일상품권
1080,1939959,mobile,F,30.0,1965.0,1개,정관장,홍삼정 에브리타임(10mlx30포) / 롯데백화점 본점 출고 / 정관장,건강식품,홍삼액
2102,3910765,mobile,F,30.0,804957.0,제주삼다수 2L:제주삼다수 2L*6EA / 3개,쥬맥스,[제주]삼다수 2L*6 - 제주삼다수 2L*6EA,음료,생수
16261,4255215,mobile,F,30.0,712821.0,선택:비타민c1000 180정 / 1개,고려은단,[본사직영] 고려은단 비타민c 1000 (1080mg*180정/6개월분),건강식품,일반비타민
75738,8786173,mobile,F,40.0,360544.0,2개,고려은단,고려은단 알티지 오메가3 60캡슐/2개월분/rTG 오메가3,건강식품,오메가3/기타추출오일
13114,8796489,mobile,F,40.0,521517.0,색상:WHT0_WHT0-(WHITE)|사이즈:90 / 1개,데상트,[데상트] 남녀공용 스포츠베이직 워딩 터프티 기본 반팔 티셔츠 (S8123HTS44...,스포츠패션,남성스포츠티셔츠
1808731,5510714,tablet,F,50.0,212326.0,1개,행남자기,임페리얼 8 면기 1p,식기/조리기구,접시
5293,1559887,mobile,F,40.0,605088.0,1개,고려은단,◆ 비타민C 365골드 96정(2캔)+사은품증정+쇼핑백 2개/롯데닷컴전용상품,건강식품,일반비타민

## 제품군에 따라 구매되기 까지 걸리는 시간 분석

In [4]:
sess = pd.read_csv("05.Session.csv")
sess.head()
sess = sess.drop(['CLNT_ID','SESS_SEQ','SESS_DT','TOT_PAG_VIEW_CT','DVC_CTG_NM','ZON_NM','CITY_NM'],axis=1)
sess

          SESS_ID TOT_SESS_HR_V
0         8641867         1,890
1         6616320         1,604
2         5886172           632
3         1050889         1,035
4        10298270           298
...           ...           ...
2712902   8713975           423
2712903   4636571         2,090
2712904    582632         2,435
2712905   2328407           986
2712906   8702345           373

[2712907 rows x 2 columns]

In [57]:
product = pd.read_csv("01.Pruduct.csv")
product.head()
prod = product.drop(['CLNT_ID','HITS_SEQ','PD_ADD_NM','PD_BRA_NM','PD_BUY_AM','PD_BUY_CT'],axis=1)
prod.head()

C:\Users\User\anaconda3.7\envs\chaelin_virtenv\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    SESS_ID    PD_C
0   7605037  642112
1  10189797  570603
2   6158159  179538
3   7935714  554336
4   6406509  190306

In [58]:
sessPd = pd.merge(sess, prod, left_on='SESS_ID', right_on='SESS_ID', how='left')
sessPd

         SESS_ID TOT_SESS_HR_V    PD_C
0        8641867         1,890  370753
1        8641867         1,890  370753
2        8641867         1,890  370753
3        6616320         1,604  659005
4        5886172           632  809194
...          ...           ...     ...
6184009   582632         2,435   24629
6184010   582632         2,435   50660
6184011  2328407           986  202446
6184012  8702345           373  384335
6184013  8702345           373  383299

[6184014 rows x 3 columns]

In [59]:
sessPd.isnull().sum()

SESS_ID              0
TOT_SESS_HR_V    26177
PD_C                 0
dtype: int64

In [62]:
sesspd = sessPd.dropna()
sesspd
sesspd.isnull().sum()

SESS_ID          0
TOT_SESS_HR_V    0
PD_C             0
dtype: int64

In [50]:
mast.head()
#mast = mast.drop('PD_NM',axis=1)
mast

          PD_C   CLAC1_NM   CLAC2_NM   CLAC3_NM
0        64382      스포츠패션  남성일반스포츠의류   남성스포츠티셔츠
1        62282  속옷/양말/홈웨어      여성양말류     여성일반양말
2        61729      유아동의류     유아의류상의   영유아티셔츠/탑
3        61537       패션잡화        남성화       남성부츠
4        58820       남성의류     남성의류상의     남성남방셔츠
...        ...        ...        ...        ...
847647  400721       여성의류     여성의류상의    여성티셔츠/탑
847648  400382       패션잡화        여성화       여성플랫
847649  400197      시즌스포츠     수영/물놀이      아동수영복
847650  399225       여성의류     여성의류하의      여성스커트
847651  306289      스포츠패션  남성일반스포츠의류  남성일반스포츠바지

[847652 rows x 4 columns]

In [64]:
fulldata= pd.merge(sesspd, mast, left_on='PD_C', right_on='PD_C', how='left')
fulldata.head()

   SESS_ID TOT_SESS_HR_V    PD_C  CLAC1_NM CLAC2_NM       CLAC3_NM
0  8641867         1,890  370753      패션잡화   패션액세서리            손수건
1  8641867         1,890  370753      패션잡화   패션액세서리            손수건
2  8641867         1,890  370753      패션잡화   패션액세서리            손수건
3  6616320         1,604  659005  화장품/뷰티케어     메이크업  BB/파운데이션/컴팩트류
4  5886172           632  809194  화장품/뷰티케어     메이크업        립글로즈/틴트

## 제품군에 따른 시간 분석

In [ ]:
#hrs = fulldata.iloc[:,3:].groupby('CLAC1_NM').agg(['size','sum','mean'])
#hrs[:5]

In [69]:
#fulldata.to_csv("CLAC_HOUR.csv")

그냥 제품군만 보았을때..

In [5]:
import pandas as pd
fulldata = pd.read_csv("CLAC_HOUR.csv", index_col=0)

C:\Users\User\anaconda3.7\envs\chaelin_virtenv\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [25]:
fulldata['TOT_SESS_HR_V'] = fulldata['TOT_SESS_HR_V'].map(lambda x: x.replace(",", ""))
fulldata[:3]

   SESS_ID TOT_SESS_HR_V    PD_C CLAC1_NM CLAC2_NM CLAC3_NM
0  8641867          1890  370753     패션잡화   패션액세서리      손수건
1  8641867          1890  370753     패션잡화   패션액세서리      손수건
2  8641867          1890  370753     패션잡화   패션액세서리      손수건

In [26]:
fulldata.isnull().sum()

SESS_ID          0
TOT_SESS_HR_V    0
PD_C             0
CLAC1_NM         0
CLAC2_NM         0
CLAC3_NM         0
dtype: int64

In [7]:
cnt = {}
clac1_list = fulldata['CLAC1_NM']

for data in clac1_list:
    try: cnt[data] +=1
    except: cnt[data] = 1
cnt

{'패션잡화': 550263,
 '화장품/뷰티케어': 701687,
 '속옷/양말/홈웨어': 512358,
 '출산/육아용품': 173187,
 '식기/조리기구': 95905,
 '완구': 66096,
 '건강식품': 151605,
 '구기/필드스포츠': 41572,
 '스포츠패션': 692721,
 '유아동의류': 420233,
 '시즌스포츠': 183953,
 '문구/사무용품': 60659,
 '퍼스널케어': 162757,
 '남성의류': 681225,
 '컴퓨터': 27865,
 '여성의류': 828095,
 '인테리어/조명': 8936,
 '원예/애완': 115807,
 '과일': 31020,
 '아웃도어/레저': 56311,
 '주방잡화': 59668,
 '모바일': 31873,
 '음료': 61859,
 '침구/수예': 96102,
 '냉장/세탁가전': 9415,
 '가구': 53207,
 '세제/위생': 55822,
 '냉동식품': 16629,
 '헬스/피트니스': 30861,
 '생활/주방가전': 51176,
 '상품권': 16298,
 '청소/세탁/욕실용품': 54497,
 '계절가전': 17115,
 '축산물': 14822,
 '냉장식품': 16826,
 '자동차용품': 1636,
 '영상/음향가전': 7776}

In [8]:
cntsort = sorted(cnt.items(), key = lambda x:x[1], reverse=True)
print(cntsort[:10])

[('여성의류', 828095), ('화장품/뷰티케어', 701687), ('스포츠패션', 692721), ('남성의류', 681225), ('패션잡화', 550263), ('속옷/양말/홈웨어', 512358), ('유아동의류', 420233), ('시즌스포츠', 183953), ('출산/육아용품', 173187), ('퍼스널케어', 162757)]

In [9]:
first = fulldata['CLAC1_NM'] == '여성의류'

In [17]:
woman_fashion = fulldata[first]
woman_fashion

          SESS_ID TOT_SESS_HR_V    PD_C CLAC1_NM CLAC2_NM CLAC3_NM
88        6685104          1065  217076     여성의류   여성의류하의    여성스커트
89        6685104          1065  298689     여성의류   여성의류하의    여성스커트
131      10048639           526  402914     여성의류   여성의류전신    여성원피스
140      10246021          1634  384214     여성의류   여성의류하의     여성바지
142       9647065          1770  486305     여성의류  여성의류아우터     여성재킷
...           ...           ...     ...      ...      ...      ...
6157826   9458833           237  536201     여성의류   여성의류상의    여성가디건
6157830    582632          2435   66442     여성의류   여성의류상의   여성남방셔츠
6157831    582632          2435  521307     여성의류   여성의류하의     여성바지
6157832    582632          2435   24629     여성의류  여성의류아우터     여성코트
6157833    582632          2435   50660     여성의류   여성의류상의   여성남방셔츠

[828095 rows x 6 columns]

   SESS_ID TOT_SESS_HR_V    PD_C CLAC1_NM CLAC2_NM CLAC3_NM
0  8641867          1890  370753     패션잡화   패션액세서리      손수건
1  8641867          1890  370753     패션잡화   패션액세서리      손수건
2  8641867          1890  370753     패션잡화   패션액세서리      손수건

In [18]:
woman_fashion['TOT_SESS_HR_V'].mean()

inf

In [19]:
second = fulldata['CLAC1_NM'] == '화장품/뷰티케어'
third = fulldata['CLAC1_NM'] == '스포츠패션'
fourth = fulldata['CLAC1_NM'] == '남성의류'
fifth = fulldata['CLAC1_NM'] == '패션잡화'

In [22]:
cosmetic = fulldata[second]
sports = fulldata[third]
man_fashion = fulldata[fourth]
fashion_stuff = fulldata[fifth]
cosmetic[:3]

    SESS_ID TOT_SESS_HR_V    PD_C  CLAC1_NM CLAC2_NM       CLAC3_NM
3   6616320          1604  659005  화장품/뷰티케어     메이크업  BB/파운데이션/컴팩트류
4   5886172           632  809194  화장품/뷰티케어     메이크업        립글로즈/틴트
34  2141725          1104  741621  화장품/뷰티케어     메이크업  블러셔/쉐이딩/하이라이터

In [24]:
cosmetic['TOT_SESS_HR_V']
#sports['TOT_SESS_HR_V'].mean()
#man_fashion['TOT_SESS_HR_V'].mean()
#fashion_stuff['TOT_SESS_HR_V'].mean()

3          1604
4           632
34         1104
35         1104
36         1104
           ...
6157788     441
6157789     441
6157794    1719
6157818    1828
6157820    1828
Name: TOT_SESS_HR_V, Length: 701687, dtype: object

시간에 따라 출력해보기

In [75]:
cnt = {}
sess_hr = fulldata['TOT_SESS_HR_V']

for data in sess_hr:
    try: cnt[data] +=1
    except: cnt[data] = 1
cnt

{'1,890': 1320,
 '1,604': 1381,
 '632': 2893,
 '1,035': 1939,
 '298': 3626,
 '444': 3174,
 '340': 3357,
 '976': 2150,
 '3,099': 601,
 '317': 3599,
 '4,143': 241,
 '263': 3745,
 '786': 2328,
 '1,038': 1960,
 '312': 3628,
 '1,104': 1891,
 '666': 2738,
 '288': 3591,
 '689': 2622,
 '861': 2130,
 '1,022': 1996,
 '2,019': 1113,
 '860': 2385,
 '459': 2978,
 '673': 2657,
 '159': 3586,
 '949': 2122,
 '1,216': 1723,
 '888': 2183,
 '756': 2424,
 '219': 3690,
 '1,492': 1472,
 '839': 2153,
 '1,181': 1871,
 '541': 3026,
 '152': 3767,
 '8,172': 22,
 '3,352': 511,
 '1,904': 1152,
 '2,087': 1144,
 '793': 2399,
 '2,543': 711,
 '651': 2741,
 '855': 2265,
 '1,065': 1800,
 '355': 3509,
 '602': 2751,
 '146': 3725,
 '3,119': 603,
 '1,429': 1489,
 '1,755': 1225,
 '919': 2046,
 '1,289': 1686,
 '156': 3862,
 '1,394': 1501,
 '3,301': 495,
 '968': 1972,
 '197': 3902,
 '526': 3079,
 '423': 3289,
 '1,998': 1123,
 '3,612': 414,
 '1,634': 1358,
 '1,770': 1321,
 '23': 399,
 '2,546': 812,
 '496': 3183,
 '142': 3390,
 '2,386': 870,
 '4,103': 368,
 '182': 3763,
 '872': 2289,
 '1,898': 1258,
 '270': 3532,
 '1,187': 1809,
 '353': 3536,
 '822': 2268,
 '701': 2690,
 '1,034': 1846,
 '75': 1900,
 '356': 3545,
 '73': 1892,
 '231': 3816,
 '1,132': 1798,
 '1,676': 1339,
 '225': 3545,
 '694': 2471,
 '115': 3137,
 '1,129': 1905,
 '1,384': 1688,
 '165': 3683,
 '244': 3915,
 '52': 1175,
 '938': 2236,
 '341': 3470,
 '4,039': 337,
 '1,665': 1294,
 '1,935': 1251,
 '2,299': 978,
 '1,454': 1564,
 '637': 2727,
 '721': 2460,
 '1,417': 1677,
 '2,167': 990,
 '837': 2333,
 '216': 3787,
 '6,077': 139,
 '3,217': 470,
 '998': 1956,
 '4,851': 148,
 '3,766': 376,
 '2,645': 800,
 '1,193': 1644,
 '951': 2000,
 '516': 3040,
 '693': 2695,
 '283': 3649,
 '1,258': 1681,
 '565': 3079,
 '2,666': 799,
 '573': 2913,
 '63': 1569,
 '274': 3753,
 '1,070': 1789,
 '233': 3772,
 '456': 3067,
 '1,330': 1556,
 '1,067': 1923,
 '695': 2396,
 '1,092': 1968,
 '1,243': 1731,
 '1,329': 1646,
 '2,371': 779,
 '1,410': 1564,
 '2,228': 924,
 '2,147': 1075,
 '461': 3117,
 '680': 2667,
 '1,075': 1757,
 '5,717': 151,
 '2,045': 1075,
 '856': 2346,
 '795': 2423,
 '2,121': 991,
 '1,554': 1386,
 '2,850': 690,
 '789': 2333,
 '3,526': 502,
 '509': 3178,
 '1,138': 1848,
 '639': 2652,
 '2,000': 1176,
 '3,605': 430,
 '151': 3389,
 '395': 3370,
 '4,830': 194,
 '3,498': 416,
 '1,613': 1487,
 '640': 2531,
 '1,972': 1146,
 '4,250': 308,
 '626': 2741,
 '2,079': 1140,
 '329': 3621,
 '370': 3441,
 '741': 2449,
 '374': 3458,
 '1,321': 1486,
 '2,217': 867,
 '3,074': 576,
 '2,327': 940,
 '180': 3707,
 '1,100': 1843,
 '1,709': 1302,
 '332': 3458,
 '2,036': 974,
 '1,140': 1931,
 '296': 3755,
 '700': 2592,
 '1,040': 1840,
 '279': 3861,
 '2,482': 929,
 '549': 2764,
 '506': 3262,
 '447': 3449,
 '68': 1713,
 '6': 601,
 '1,538': 1296,
 '1,748': 1313,
 '2,271': 1033,
 '536': 2983,
 '1,712': 1345,
 '389': 3497,
 '1,776': 1205,
 '1,620': 1366,
 '3,422': 418,
 '1,967': 1178,
 '6,399': 93,
 '2,784': 737,
 '2,573': 643,
 '1,172': 1932,
 '5,722': 132,
 '2,997': 637,
 '6,321': 84,
 '2,803': 792,
 '4,627': 263,
 '2,029': 1256,
 '909': 2237,
 '1,240': 1627,
 '4,208': 316,
 '4,939': 193,
 '1,756': 1242,
 '1,996': 1129,
 '1,841': 1352,
 '1,689': 1392,
 '590': 2796,
 '525': 3141,
 '2,366': 873,
 '3,704': 372,
 '1,320': 1556,
 '228': 3729,
 '3,090': 524,
 '2,464': 911,
 '1,984': 1037,
 '1,332': 1824,
 '339': 3676,
 '792': 2442,
 '1,086': 1962,
 '2,661': 880,
 '530': 2886,
 '1,601': 1385,
 '366': 3542,
 '1,077': 1857,
 '111': 3046,
 '973': 2116,
 '1,178': 1768,
 '404': 3504,
 '290': 3720,
 '224': 3782,
 '295': 3863,
 '5,269': 134,
 '474': 3078,
 '139': 3621,
 '160': 3687,
 '1,061': 1925,
 '239': 3805,
 '278': 3522,
 '1,734': 1202,
 '309': 3674,
 '406': 3191,
 '1,355': 1549,
 '1,930': 1232,
 '1,767': 1329,
 '1,015': 2043,
 '1,706': 1306,
 '173': 3537,
 '2,383': 886,
 '727': 2551,
 '1,288': 1578,
 '3,562': 545,
 '2,611': 741,
 '1,603': 1446,
 '2,456': 766,
 '1,763': 1277,
 '1,857': 1187,
 '2,331': 900,
 '1,704': 1328,
 '905': 2256,
 '507': 2993,
 '1,164': 1750,
 '405': 3159,
 '553': 2764,
 '446': 3254,
 '554': 2831,
 '884': 2226,
 '183': 3871,
 '751': 2691,
 '1,829': 1178,
 '3,068': 582,
 '858': 2218,
 '178': 3812,
 '220': 3985,
 '896': 2234,
 '545': 2898,
 '429': 3074,
 '2,098': 1125,
 '633': 2856,
 '256': 3672,
 '859': 2229,
 '495': 3187,
 '468': 3068,
 '1,124': 1939,
 '676': 2778,
 '731': 2434,
 '2,073': 1142,
 '987': 2031,
 '1,182': 1865,
 '1,572': 1370,
 '3,076': 523,
 '3,334': 458,
 '1,531': 1388,
 '887': 2212,
 '810': 2259,
 '3,303': 578,
 '2,570': 741,
 '1,943': 1214,
 '126': 3203,
 '532': 2890,
 '2,740': 744,
 '2,127': 1117,
 '2,744': 705,
 '2,360': 957,
 '833': 2319,
 '754': 2520,
 '585': 2849,
 '205': 3838,
 '482': 3072,
 '1,536': 1340,
 '967': 2082,
 '559': 3007,
 '1,372': 1615,
 '3,765': 493,
 '77': 2192,
 '3,292': 536,
 '843': 2138,
 '195': 3979,
 '424': 3316,
 '570': 3004,
 '4,570': 251,
 '4,058': 304,
 '1,062': 1964,
 '1,323': 1734,
 '1,165': 1949,
 '504': 3060,
 '2,671': 666,
 '176': 3635,
 '1,271': 1732,
 '435': 3219,
 '598': 2817,
 '796': 2361,
 '2,887': 647,
 '1,297': 1772,
 '6,698': 78,
 '643': 2711,
 '557': 2918,
 '4,604': 218,
 '324': 3348,
 '304': 3590,
 '1,221': 1686,
 '2,020': 1145,
 '314': 3620,
 '2,173': 990,
 '87': 2586,
 '443': 3339,
 '399': 3494,
 '1,397': 1562,
 '609': 2754,
 '4,799': 224,
 '517': 2944,
 '1,979': 1112,
 '1,284': 1604,
 '1,949': 1262,
 '738': 2413,
 '1,535': 1473,
 '3,963': 432,
 '2,441': 886,
 '1,123': 1880,
 '645': 2573,
 '3,253': 490,
 '121': 3347,
 '168': 3812,
 '1,840': 1352,
 '2,090': 1116,
 '524': 2944,
 '1,524': 1386,
 '4': 718,
 '1,851': 1202,
 '1,018': 1978,
 '1,617': 1305,
 '2,940': 595,
 '3,840': 405,
 '397': 3225,
 '3,559': 473,
 '537': 2999,
 '910': 2422,
 '1,333': 1617,
 '2,021': 1185,
 '194': 3824,
 '349': 3678,
 '4,712': 211,
 '322': 3506,
 '1,445': 1554,
 '1,016': 1955,
 '1,361': 1628,
 '177': 3714,
 '4,643': 175,
 '1,186': 1692,
 '273': 3863,
 '1,418': 1469,
 '132': 3336,
 '5,412': 131,
 '2,007': 1162,
 '582': 2759,
 '622': 2844,
 '1,606': 1344,
 '1,170': 1804,
 '192': 3809,
 '1,534': 1394,
 '2,365': 921,
 '759': 2349,
 '3,013': 600,
 '1,128': 1735,
 '1,827': 1148,
 '567': 2855,
 '1,232': 1766,
 '520': 3215,
 '1,322': 1695,
 '84': 2385,
 '1,400': 1469,
 '770': 2227,
 '1,729': 1270,
 '608': 2845,
 '6,831': 46,
 '1,239': 1539,
 '594': 2782,
 '1,287': 1601,
 '804': 2347,
 '1,367': 1565,
 '623': 2634,
 '4,036': 309,
 '944': 2107,
 '4,966': 157,
 '519': 3058,
 '1,778': 1274,
 '556': 2755,
 '392': 3279,
 '1,159': 1823,
 '1,589': 1521,
 '199': 3818,
 '2,048': 1106,
 '1,546': 1340,
 '1,530': 1413,
 '264': 3651,
 '436': 3340,
 '1,423': 1527,
 '927': 2106,
 '1,933': 1276,
 '426': 3185,
 '1,528': 1503,
 '514': 3056,
 '1,238': 1826,
 '403': 3190,
 '528': 2963,
 '54': 1135,
 '94': 2538,
 '383': 3479,
 '1,325': 1661,
 '1,001': 2087,
 '894': 2267,
 '1,888': 1350,
 '571': 2842,
 '3,417': 470,
 '950': 2191,
 '4,727': 274,
 '242': 3704,
 '6,206': 36,
 '4,413': 295,
 '1,169': 1710,
 '722': 2497,
 '201': 3838,
 '1,344': 1543,
 '841': 2213,
 '558': 2894,
 '430': 3188,
 '1,154': 1675,
 '301': 3377,
 '4,696': 189,
 '1,926': 1238,
 '229': 3615,
 '1,142': 1883,
 '2,151': 907,
 '1,873': 1270,
 '297': 3730,
 '257': 3812,
 '348': 3460,
 '1,113': 1912,
 '1,995': 1119,
 '2,212': 875,
 '3,555': 402,
 '62': 1467,
 '118': 3440,
 '578': 2998,
 '502': 3046,
 '328': 3728,
 '538': 2922,
 '187': 3723,
 '236': 3877,
 '1,592': 1316,
 '2,509': 812,
 '533': 2820,
 '36': 630,
 '3,996': 402,
 '7,241': 70,
 '2,712': 738,
 '1,929': 1144,
 '1,452': 1670,
 '433': 3282,
 '2,723': 766,
 '999': 1979,
 '4,659': 206,
 '253': 3598,
 '2,902': 599,
 '130': 3581,
 '678': 2638,
 '1,449': 1581,
 '1,401': 1521,
 '1,308': 1688,
 '4,577': 254,
 '484': 3148,
 '2,054': 1022,
 '7,541': 33,
 '198': 4095,
 '102': 3119,
 '1,652': 1317,
 '335': 3587,
 '135': 3272,
 '1,055': 1965,
 '1,777': 1281,
 '1,273': 1707,
 '202': 3831,
 '462': 3211,
 '5,213': 172,
 '320': 3685,
 '289': 3733,
 '776': 2330,
 '621': 2661,
 '7,081': 31,
 '10,502': 9,
 '829': 2156,
 '7,548': 46,
 '650': 2826,
 '511': 3054,
 '6,170': 108,
 '4,976': 173,
 '3,643': 483,
 '3,837': 379,
 '2,242': 1024,
 '2,878': 681,
 '1,725': 1279,
 '1,174': 1951,
 '3,390': 489,
 '3,727': 388,
 '455': 3076,
 '343': 3471,
 '3,515': 483,
 '1,692': 1430,
 '4,663': 245,
 '260': 3780,
 '1,033': 1838,
 '3,909': 377,
 '851': 2341,
 '3,576': 504,
 '109': 3128,
 '1,161': 1947,
 '128': 3403,
 '2,397': 970,
 '1,068': 2091,
 '1,257': 1730,
 '4,842': 200,
 '1,003': 2033,
 '2,293': 940,
 '2,966': 694,
 '546': 3032,
 '895': 2170,
 '952': 2103,
 '154': 3560,
 '613': 2550,
 '358': 3542,
 '294': 3634,
 '179': 3736,
 '539': 2962,
 '2,526': 773,
 '2,979': 634,
 '1,941': 1219,
 '4,914': 197,
 '3,763': 361,
 '368': 3508,
 '1,263': 1706,
 '555': 2968,
 '409': 3241,
 '3,451': 494,
 '3,164': 467,
 '215': 3909,
 '465': 3357,
 '875': 2332,
 '299': 3644,
 '5,553': 127,
 '805': 2339,
 '1,119': 1879,
 '1,717': 1257,
 '3,021': 529,
 '760': 2517,
 '3,931': 345,
 '3,100': 534,
 '286': 3733,
 '736': 2484,
 '853': 2257,
 '2,720': 803,
 '5,485': 138,
 '66': 1612,
 '2,544': 770,
 '1,272': 1748,
 '2,504': 850,
 '3,474': 464,
 '6,561': 96,
 '705': 2408,
 '692': 2605,
 '113': 3320,
 '764': 2235,
 '419': 3270,
 '2,243': 1014,
 '3,616': 429,
 '1,399': 1466,
 '1,490': 1485,
 '234': 3818,
 '5,633': 128,
 '961': 2056,
 '1,542': 1422,
 '453': 3263,
 '1,549': 1390,
 '668': 2601,
 '1,522': 1456,
 '943': 2032,
 '141': 3547,
 '1,868': 1311,
 '420': 3164,
 '5,873': 79,
 '272': 3646,
 '1,080': 1922,
 '1,958': 1130,
 '4,202': 295,
 '3,028': 615,
 '452': 3257,
 '1,444': 1473,
 '1,409': 1520,
 '47': 932,
 '531': 2925,
 '218': 3733,
 '2,796': 696,
 '149': 3680,
 '2,805': 637,
 '781': 2313,
 '4,308': 286,
 '129': 3106,
 '319': 3421,
 '206': 3770,
 '4,737': 296,
 '1,838': 1158,
 '2,175': 998,
 '148': 3520,
 '445': 3124,
 '2,083': 1071,
 '1,612': 1334,
 '1,405': 1597,
 '2,636': 926,
 '2,142': 1038,
 '223': 3838,
 '918': 2077,
 '1,526': 1520,
 '103': 2769,
 '437': 3320,
 '619': 2539,
 '635': 2697,
 '3,915': 410,
 '428': 3244,
 '1,353': 1645,
 '1,045': 2052,
 '1,973': 1158,
 '2,075': 1083,
 '1,414': 1638,
 '2,241': 868,
 '755': 2569,
 '1,716': 1270,
 '907': 2420,
 '281': 3658,
 '388': 3339,
 '1,274': 1742,
 '3,400': 437,
 '1,046': 2087,
 '1,056': 2133,
 '1,199': 1874,
 '1,305': 1681,
 '1,043': 2052,
 '1,446': 1572,
 '4,111': 292,
 '2,061': 1118,
 '276': 3620,
 '653': 2671,
 '342': 3527,
 '1,006': 1990,
 '1,002': 1952,
 '1,562': 1451,
 '518': 2917,
 '2,937': 654,
 '863': 2238,
 '1,994': 1250,
 '1,105': 1800,
 '3,677': 351,
 '1,737': 1306,
 '210': 3800,
 '664': 2525,
 '1,066': 1878,
 '2,806': 707,
 '1,382': 1538,
 '1,398': 1637,
 '398': 3510,
 '1,965': 1135,
 '2,862': 647,
 '1,277': 1693,
 '574': 2618,
 '1,109': 1830,
 '1,275': 1771,
 '12': 459,
 '81': 2180,
 '2,259': 976,
 '2,112': 1078,
 '3,659': 439,
 '4,632': 231,
 '410': 3531,
 '69': 1837,
 '133': 3476,
 '6,556': 77,
 '316': 3662,
 '899': 2046,
 '2,291': 991,
 '490': 3112,
 '1,510': 1607,
 '485': 3077,
 '2,772': 729,
 '1,153': 1802,
 '2,124': 1031,
 '2,804': 726,
 '1,882': 1023,
 '3,294': 481,
 '2,010': 1083,
 '1,545': 1508,
 '739': 2493,
 '308': 3510,
 '372': 3429,
 '4,264': 294,
 '870': 2339,
 '3,266': 561,
 '4,232': 274,
 '1,966': 1010,
 '117': 3115,
 '315': 3552,
 '686': 2563,
 '774': 2361,
 '6,771': 66,
 '200': 3866,
 '647': 2686,
 '1,705': 1266,
 '230': 3981,
 '310': 3667,
 '974': 2123,
 '1,212': 1644,
 '375': 3630,
 '1,761': 1263,
 '1,180': 1793,
 '78': 2013,
 '2,238': 1048,
 '542': 2852,
 '4,686': 242,
 '4,672': 166,
 '4,338': 318,
 '1,686': 1362,
 '716': 2545,
 '203': 3666,
 '2,458': 821,
 '1,976': 1123,
 '4,110': 357,
 '942': 2161,
 '1,017': 2027,
 '292': 3542,
 '1,653': 1277,
 '5,134': 201,
 '1,520': 1476,
 '1,037': 2055,
 '114': 3102,
 '1,028': 1973,
 '493': 3150,
 '2,610': 838,
 '552': 2710,
 '667': 2685,
 '2,943': 612,
 '527': 3220,
 '208': 3709,
 '2,263': 1094,
 '771': 2582,
 '90': 2535,
 '2,575': 829,
 '1,222': 1803,
 '494': 3074,
 '2,205': 856,
 '137': 3477,
 '1,126': 1740,
 '6,367': 61,
 '162': 3623,
 '1,125': 2041,
 '262': 3677,
 '874': 2282,
 '1,407': 1606,
 '1,532': 1509,
 '1,914': 1104,
 '3,914': 348,
 '4,123': 312,
 '6,438': 101,
 '936': 2188,
 '1,166': 1839,
 '80': 2158,
 '2,925': 760,
 '1,111': 2054,
 '3,573': 380,
 '2,871': 715,
 '2,949': 637,
 '1,752': 1273,
 '1,950': 1192,
 '3,699': 440,
 '3,623': 426,
 '4,288': 297,
 '510': 3000,
 '1,354': 1498,
 '964': 2169,
 '814': 2341,
 '2,123': 1016,
 '214': 3978,
 '718': 2513,
 '615': 2605,
 '1,194': 1889,
 '354': 3699,
 '1,048': 1954,
 '2,958': 616,
 '547': 3036,
 '470': 3083,
 '965': 2102,
 '1,047': 1948,
 '862': 2238,
 '1,848': 1305,
 '7,661': 46,
 '1,826': 1296,
 '606': 2835,
 '1,649': 1258,
 '778': 2269,
 '723': 2554,
 '970': 1857,
 '3,684': 438,
 '440': 3175,
 '1,137': 1850,
 '3,740': 399,
 '3,252': 596,
 '2,304': 1050,
 '5,206': 126,
 '352': 3568,
 '1,099': 2038,
 '1,749': 1337,
 '3,302': 618,
 '3,136': 684,
 '209': 3757,
 '2,144': 1072,
 '4,617': 209,
 '808': 2162,
 '1,782': 1269,
 '2,770': 585,
 '3,158': 540,
 '2,759': 725,
 '172': 3665,
 '473': 3235,
 '564': 2947,
 '1,148': 1788,
 '418': 3290,
 '780': 2411,
 '900': 2101,
 '217': 3966,
 '167': 3776,
 '2,416': 752,
 '1,219': 1859,
 '5,361': 198,
 '1,133': 1739,
 '505': 3074,
 '4,178': 328,
 '1,439': 1708,
 '4,271': 268,
 '5,023': 169,
 '188': 3665,
 '147': 3594,
 '155': 3671,
 '592': 2784,
 '222': 3813,
 '2,627': 912,
 '1,276': 1802,
 '821': 2307,
 '1,206': 1747,
 '1,425': 1674,
 '122': 3381,
 '3,716': 405,
 '1,880': 1210,
 '2,056': 1089,
 '1,440': 1500,
 '817': 2322,
 '1,340': 1683,
 '521': 2941,
 '2,880': 669,
 '441': 3202,
 '763': 2471,
 '1,541': 1317,
 '3,185': 545,
 '245': 3774,
 '457': 3153,
 '266': 3745,
 '1,732': 1251,
 '2,160': 997,
 '522': 2874,
 '1,336': 1707,
 '240': 3766,
 '4,296': 258,
 '503': 3034,
 '819': 2166,
 '703': 2507,
 '603': 2913,
 '773': 2449,
 '207': 3721,
 '6,570': 52,
 '4,003': 272,
 '1,696': 1259,
 '1,932': 1243,
 '221': 3752,
 '2,668': 717,
 '4,027': 298,
 '2,233': 1036,
 '1,438': 1611,
 '1,753': 1434,
 '882': 2164,
 '394': 3463,
 '4,189': 297,
 '898': 2241,
 '275': 3802,
 '1,656': 1443,
 '757': 2368,
 '3,140': 527,
 '1,196': 1824,
 '3,469': 486,
 '2,724': 737,
 '416': 3191,
 '291': 3580,
 '866': 2351,
 '6,195': 104,
 '5,169': 151,
 '2,200': 1071,
 '630': 2629,
 '2,976': 584,
 '1,499': 1552,
 '4,816': 194,
 '434': 3532,
 '261': 3704,
 '1,404': 1672,
 '580': 2672,
 '396': 3515,
 '611': 2723,
 '413': 3342,
 '3,213': 553,
 '812': 2279,
 '4,295': 253,
 '584': 2799,
 '758': 2476,
 '415': 3240,
 '4,365': 258,
 '1,459': 1526,
 '1,937': 1192,
 '1,963': 1304,
 '2,954': 688,
 '1,578': 1492,
 '1,757': 1247,
 '1,044': 2043,
 '3,004': 535,
 '1,910': 1241,
 '788': 2433,
 '8,079': 34,
 '1,351': 1658,
 '2,840': 694,
 '1,021': 1976,
 '2,406': 831,
 '1,745': 1260,
 '1,822': 1252,
 '2,433': 856,
 '1,226': 1882,
 '1,740': 1314,
 '1,348': 1466,
 '5,604': 171,
 '2,584': 826,
 '4,646': 257,
 ...}

In [77]:
cntsort = sorted(cnt.items(), key = lambda x:x[1], reverse=True)
print(cntsort[:30])

[('198', 4095), ('193', 4010), ('166', 3990), ('220', 3985), ('230', 3981), ('195', 3979), ('214', 3978), ('217', 3966), ('181', 3946), ('213', 3930), ('226', 3918), ('235', 3917), ('244', 3915), ('215', 3909), ('197', 3902), ('293', 3896), ('265', 3889), ('243', 3882), ('236', 3877), ('204', 3873), ('183', 3871), ('200', 3866), ('295', 3863), ('273', 3863), ('156', 3862), ('279', 3861), ('285', 3859), ('258', 3857), ('185', 3852), ('259', 3848)]

In [ ]:
data1 = fulldata[fulldata['CLAC1_NM'] == '패션잡화' ]

data1 = data1[:1]

In [ ]:
rank = data1
rank

짧은시간이.. 많네

In [ ]:
#hrs = fulldata.iloc[:,3:].groupby('CLAC1_NM').agg(['size','sum','mean'])
#hrs[:5]